﻿@model IEnumerable<SiteRent.Models.Employees>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Всего пользователей: @Model.Count()</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (ViewBag.CurrentEmployee != null)
{
    <p>
        @ViewBag.CurrentEmployee.Email
    </p>
    <p>
        @ViewBag.CurrentEmployee.Surname
    </p>
    <p>
        @ViewBag.CurrentEmployee.Name
    </p>
    <p>
        @ViewBag.CurrentEmployee.Role
    </p>
    <p>
        @if (!String.IsNullOrEmpty(ViewBag.CurrentEmployee.Regions))
        {
            foreach (string reg in ViewBag.CurrentEmployee.Regions.Replace(", ", "!").Split('!'))
            {
                <div class="card">
                    @reg
                </div>                    
            }
        }
    </p>
    <p>
        @ViewBag.CurrentEmployee.Filials
    </p>

    if(ViewBag.Saratov != null)
    {
        <p>
            @foreach (SiteRent.Models.Employees s in ViewBag.Saratov)
            {
                @s.Surname.ToString();
            }
        </p>
    }
 }

<table class="table">
    <tr>
        <!--<th>
            @Html.DisplayNameFor(model => model.NriId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filials)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <!--<td>
                @Html.DisplayFor(modelItem => item.NriId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filials)
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.LastLoginDate)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотр", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
