﻿@{
    ViewBag.Title = "Главная";
}

<link rel="stylesheet" href="~/Content/login.css">
<link rel="stylesheet" href="~/Content/utils.css">

<div class="row">
    <div class="col-lg-4 text-center" style="padding-top: 15px; font-family: Roboto-Regular, 'Segoe UI';">
        <div style="background-color: #ffffff; padding: 25px; min-height: 275px;" class="shadow-sm">
            <div class="text-center">
                @{
                    var CurrUserEmail = (ViewBag.CurrentEmployee != null && !String.IsNullOrEmpty(ViewBag.CurrentEmployee.Email)) ? ViewBag.CurrentEmployee.Email.Split('@')[0] : "notfound";
                    var profileImg = "Content/Images/Users/" + CurrUserEmail + ".jpg";
                    var absolutePath = HttpContext.Current.Server.MapPath(profileImg);
                    if (System.IO.File.Exists(absolutePath))
                    {
                        <img alt="Пользователь" width="128" height="128" class="rounded-circle" src="@profileImg" />
                    }
                    else
                    {
                        string AvatarName = (ViewBag.CurrentEmployee != null && !String.IsNullOrEmpty(ViewBag.CurrentEmployee.Name) && !String.IsNullOrEmpty(ViewBag.CurrentEmployee.Surname)) ? ViewBag.CurrentEmployee.Name.Substring(0, 1) + ViewBag.CurrentEmployee.Surname.Substring(0, 1) : "АИ";
                        <div style="width: 128px; height: 128px; display:inline-flex; background-image: linear-gradient(90deg, #9EA0A5, #BCBCBC); color: #FFFFFF; font-size: 72px; justify-content: center; align-items: center;" class="rounded-circle">@AvatarName</div>
                    }
                }
            </div>
            <div style="padding-top: 20px;">
                @if (ViewBag.CurrentEmployee != null)
                {
                    <span title="@(ViewBag.CurrentEmployee.Filials)">
                        @(ViewBag.CurrentEmployee.Name + " " + ViewBag.CurrentEmployee.Surname)
                    </span>
                }
                @if (ViewBag.CurrentEmployee != null)
                {
                    <hr />
                    <div class="txt4">
                        @ViewBag.CurrentEmployee.Role
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-8" style="padding-top: 15px;">
        <div style="background-color: #ffffff; padding: 20px; min-height: 275px; font-family: Roboto-Light;" class="shadow-sm">
            <div class="row p-1">
                <div class="col-12"><h5>Дома</h5></div>
            </div>
            <hr style="padding-bottom: 30px;" />
            @{ 
                var stateHouses = ViewBag.InNegotiations + ViewBag.StateAgreed + ViewBag.StateNegotive;
                var l1 = (stateHouses != null && stateHouses > 0) ? ViewBag.InNegotiations * 100 / stateHouses : 0;
                var l2 = (stateHouses != null && stateHouses > 0) ? ViewBag.StateAgreed * 100 / stateHouses : 0;
                var l3 = 100 - l1 - l2;

                var test = ViewBag.FactStats;
            }
            <div class="progress" style="height: 80px;">
                <div class="progress-bar" role="progressbar" style="width:@(l1)%">
                    <h5>@(ViewBag.InNegotiations)</h5>
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:@(l2)%">
                    <h5>@(ViewBag.StateAgreed)</h5>
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@(l3)%">
                    <h5>@(ViewBag.StateNegotive)</h5>
                </div>
            </div>
            <br />
            <div class="progress">
                <div class="progress-bar progress-bar-empty" role="progressbar" style="width:@(l1)%">
                    <div style="color: #6C6B6F; font-family: Roboto-Light; font-size: 16px;">В работе</div>
                </div>
                <div class="progress-bar progress-bar-empty" role="progressbar" style="width:@(l2)%">
                    <div style="color: #6C6B6F; font-family: Roboto-Light; font-size: 16px;">Согласовано</div>
                </div>
                <div class="progress-bar progress-bar-empty" role="progressbar" style="width:@(l3)%">
                    <div style="color: #6C6B6F; font-family: Roboto-Light; font-size: 16px;">Отсев</div>
                </div>
            </div>

            <!--
    @if (ViewBag.CurrentEmployee != null && (ViewBag.CurrentEmployee.Role == "Переговорщик"))
    {
        <h3>
            @("Мои переговоры:")
        </h3>
        <hr />
        if (ViewBag.EmplFirstNegotiations != null && ViewBag.EmplFirstNegotiations.Count > 0)
        {
            foreach (string uk in ViewBag.EmplFirstNegotiations.Keys)
            {
                <div class="row">
                    <div class="col-6">
                        @(uk)
                    </div>
                    <div class="col-3@((ViewBag.EmplFirstNegotiations[uk].Item1 != null && ViewBag.EmplFirstNegotiations[uk].Item1 < DateTime.Now) ? " text-danger" : "")">
                        @((ViewBag.EmplFirstNegotiations[uk].Item1 != null) ? ViewBag.EmplFirstNegotiations[uk].Item1.ToShortDateString() : "")
                    </div>
                    <div class="col-3">
                        @(ViewBag.EmplFirstNegotiations[uk].Item2 + " МКД")
                    </div>
                </div>
            }
        }
        else
        {
            <div class="bg-danger">Переговоры не назначены!</div>
        }
    }
    @if (ViewBag.CurrentEmployee != null && (ViewBag.CurrentEmployee.Role == "Руководитель"))
    {
        <div class="txt1">
            @("Ключевые переговоры:")
        </div>
        <hr />
        if (ViewBag.BigUK != null && ViewBag.BigUK.Count > 0)
        {
            <table class="table table-responsive-sm table-sm txt3">
                <thead class="thead-light">
                    <tr>
                        <th>Филиал</th>
                        <th>УК/ТСЖ</th>
                        <th>МКД</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string uk in ViewBag.BigUK.Keys)
                    {
                        <tr>
                            <td>@((ViewBag.BigUK[uk].Item1 != null) ? ViewBag.BigUK[uk].Item1.Split(' ')[0] : "")</td>
                            <td> @(uk)</td>
                            <td>@(ViewBag.BigUK[uk].Item2)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="bg-danger">Отсутствуют спланированные переговоры!</div>
        }
    }
        -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3" style="padding-top: 15px;">
        <div style="background-color: #ffffff;  min-height: 100%;" class="p-5 text-center shadow-sm">
            <span style="color: #6C6B6F; padding-bottom: 20px;">МКД В РАБОТЕ</span>
            <h1 class="p-t-20">@(ViewBag.TotalHouses == null ? "0" : ViewBag.InNegotiations)</h1>
            <div style="color: #6C6B6F; font-family: Roboto-Light;">из @(ViewBag.TotalHouses == null ? 0 : ViewBag.TotalHouses)</div>
        </div>
    </div>
    <div class="col-lg-3" style="padding-top: 15px;">
        <div style="background-color: #ffffff;  min-height: 100%;" class="p-5 text-center shadow-sm">
            <span style="color: #6C6B6F; padding-bottom: 20px;">УК В РАБОТЕ</span>
            <h1 class="p-t-20">@(ViewBag.UKCount == null ? 0 : ViewBag.UKCount)</h1>
            <div style="color: #6C6B6F; font-family: Roboto-Light;">@(ViewBag.UKNotSet == null || ViewBag.UKNotSet == 0 ? "" : "без УК " + ViewBag.UKNotSet + " МКД")</div>
        </div>
    </div>
    <div class="col-lg-3" style="padding-top: 15px;">
        <div style="background-color: #ffffff;  min-height: 100%;" class="p-5 text-center shadow-sm">
            <span style="color: #6C6B6F; padding-bottom: 20px;">ПЛАН @(ViewBag.MonthStr == null ? "МЕСЯЦА" : ViewBag.MonthStr)</span>
            <h1 class="p-t-20" style="@(ViewBag.CurrentPlan == null ? "color: #E6492D;" : "")">@(ViewBag.CurrentPlan == null ? "0" : ViewBag.CurrentPlan)</h1>
            <div style="color: #6C6B6F; font-family: Roboto-Light;">МКД</div>
        </div>
    </div>
    <div class="col-lg-3" style="padding-top: 15px;">
        <div style="background-color: #ffffff;  min-height: 100%;" class="p-5 text-center shadow-sm">
            <span style="color: #6C6B6F; padding-bottom: 20px;">ФАКТ @(ViewBag.MonthStr == null ? "МЕСЯЦА" : ViewBag.MonthStr)</span>
            <h1 class="p-t-20">@(ViewBag.Fact == null ? 0 : ViewBag.Fact)</h1>
            <div style="color: #6C6B6F; font-family: Roboto-Light;">
                @if (ViewBag.MotivationFact == null)
                {
                    @((ViewBag.Fact != null && ViewBag.CurrentPlan != null && ViewBag.CurrentPlan > 0) ? (int)Math.Floor(ViewBag.Fact / ViewBag.CurrentPlan * 100) + "%" : "");
                }
                else
                {
                    @((ViewBag.MotivationFact != null && ViewBag.CurrentPlan != null && ViewBag.CurrentPlan > 0) ? "Персонально: " + ViewBag.MotivationFact + " (" + (int)Math.Floor(ViewBag.MotivationFact / ViewBag.CurrentPlan * 100) + "%)" : "");
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8" style="padding-top: 15px;">
        <div style="background-color: #ffffff; min-height: 100%; font-family: Roboto-Light;" class="p-3 shadow-sm">
            <div class="row p-1">
                <div class="col-12"><h5>Результат</h5></div>
            </div>
            <hr />
            <div style="width: 100%; height: 100%;" id="FactChartArea">
                <!--HereIsFactChart-->
            </div>
        </div>
    </div>
    <div class="col-lg-4" style="padding-top: 15px;">
        <div style="background-color: #ffffff; min-height: 100%; font-family: Roboto-Light;" class="p-3 shadow-sm">
            <div class="row p-1">
                <div class="col-12"><h5>Данные</h5></div>
            </div>
            <hr />
            @if (ViewBag.DatabaseStates != null)
            {
                Dictionary<String, DateTime?> DStates = ViewBag.DatabaseStates;

                <div class="row p-1">
                    <div class="col-5 text-right">Дома</div>
                    <div class="col-7" style="font-family: Roboto-Light; color: #6B6C6F;">@((DStates.ContainsKey("NriHouses") && DStates["NriHouses"] != null && DStates["NriHouses"].HasValue) ? DStates["NriHouses"].Value.ToString() : "неизвестно")</div>
                </div>
                <div class="row p-1">
                    <div class="col-5 text-right">История</div>
                    <div class="col-7" style="font-family: Roboto-Light; color: #6B6C6F;">@((DStates.ContainsKey("NriLogs") && DStates["NriLogs"] != null && DStates["NriLogs"].HasValue) ? DStates["NriLogs"].Value.ToString() : "неизвестно")</div>
                </div>
                <div class="row p-1">
                    <div class="col-5 text-right">Пользователи</div>
                    <div class="col-7" style="font-family: Roboto-Light; color: #6B6C6F;">@((DStates.ContainsKey("NriEmployees") && DStates["NriEmployees"] != null && DStates["NriEmployees"].HasValue) ? DStates["NriEmployees"].Value.ToString() : "неизвестно")</div>
                </div>
                <div class="row p-1">
                    <div class="col-5 text-right">Документы</div>
                    <div class="col-7" style="font-family: Roboto-Light; color: #6B6C6F;">@((DStates.ContainsKey("NriDocuments") && DStates["NriDocuments"] != null && DStates["NriDocuments"].HasValue) ? DStates["NriDocuments"].Value.ToString() : "неизвестно")</div>
                </div>
                <div class="row p-1">
                    <div class="col-5 text-right">ECM</div>
                    <div class="col-7" style="font-family: Roboto-Light; color: #6B6C6F;">@((DStates.ContainsKey("EcmDocuments") && DStates["EcmDocuments"] != null && DStates["EcmDocuments"].HasValue) ? DStates["EcmDocuments"].Value.ToString() : "неизвестно")</div>
                </div>
            }
            else
            {
                <div>Статус данных неизвестен</div>
            }

        </div>
    </div>
</div>
@if (ViewBag.CurrentEmployee != null && (ViewBag.CurrentEmployee.Role == "Переговорщик" || ViewBag.CurrentEmployee.Role == "Сопровождающий" || ViewBag.CurrentEmployee.Role == "Руководитель"))
{
    <div class="row">
        <div class="col-lg-12" style="padding-top: 15px;">
            <div style="background-color: #ffffff; padding: 20px;" class="shadow-sm">

                <div class="txt1">Мой план:</div>
                <hr />
                <div class="table-responsive txt3">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr class="text-sm-center">
                                <th></th>
                                <th>ЯНВ</th>
                                <th>ФЕВ</th>
                                <th>МАР</th>
                                <th>АПР</th>
                                <th>МАЙ</th>
                                <th>ИЮН</th>
                                <th>ИЮЛ</th>
                                <th>АВГ</th>
                                <th>СЕН</th>
                                <th>ОКТ</th>
                                <th>НОЯ</th>
                                <th>ДЕК</th>
                                <th>2018</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.CurrentEmployee != null && (ViewBag.CurrentEmployee.Role == "Руководитель" || ViewBag.CurrentEmployee.Role == "Переговорщик" || ViewBag.CurrentEmployee.Role == "Сопровождающий"))
                            {
                                <tr>
                                    <td><strong>МАСТЕР-ПЛАН</strong></td>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <td class="text-sm-center">
                                            @((ViewBag.EmplMasterPlan[i] == -1) ? "" : ViewBag.EmplMasterPlan[i])
                                        </td>
                                    }
                                    <td class="text-sm-center font-weight-bold">@((ViewBag.EmplMasterPlan[0] == -1) ? "" : ViewBag.EmplMasterPlan[0])</td>
                                </tr>
                            }
                            <tr>
                                <td><strong>ПЛАН</strong></td>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <td class="text-sm-center@((i <= DateTime.Now.Month) ? " greenwarning" : "")">
                                        @((ViewBag.EmplPlan[i] == -1) ? "" : ViewBag.EmplPlan[i] )
                                    </td>
                                }
                                <td class="text-sm-center font-weight-bold">@ViewBag.EmplPlan[0]</td>
                            </tr>
                            <tr class="text-info">
                                <td>КОЛ-ВО УК</td>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <td class="text-sm-center">
                                        @(ViewBag.EmplUK[i])
                                    </td>
                                }
                                <td class="text-sm-center font-weight-bold">@ViewBag.EmplUK[0]</td>
                            </tr>
                            @if (ViewBag.EmplCount != null && ViewBag.CurrentEmployee != null && ViewBag.CurrentEmployee.Role == "Руководитель")
                            {
                                <tr class="text-info">
                                    <td>СОТРУДНИКИ</td>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <td class="text-sm-center">
                                            @(ViewBag.EmplCount[i])
                                        </td>
                                    }
                                    <td class="text-sm-center font-weight-bold">@ViewBag.EmplCount[0]</td>
                                </tr>
                            }
                            <tr>
                                <td><strong>ФАКТ</strong></td>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <td class="text-sm-center@((i < DateTime.Now.Month) ? " greenwarning" : "")">
                                        @ViewBag.EmplFact[i]
                                    </td>
                                }
                                <td class="text-sm-center font-weight-bold">@ViewBag.EmplFact[0]</td>
                            </tr>
                            <tr>
                                <td><strong>РЕЗУЛЬТАТ</strong></td>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <td class="text-sm-center@((i < DateTime.Now.Month) ? " greenwarning" : "")">
                                        @if (i <= DateTime.Now.Month)
                                        {
                                            @((ViewBag.EmplResult[i] == -1) ? "" : ViewBag.EmplResult[i] + "%");
                                        }
                                    </td>
                                }
                                <td class="text-sm-center font-weight-bold">@(ViewBag.EmplResult[0] + "%")</td>
                            </tr>
                            @if (ViewBag.CurrentEmployee != null && ViewBag.CurrentEmployee.Role == "Переговорщик")
                            {
                                <tr>
                                    <td><strong>МОТИВАЦИОННЫЙ ПЛАН</strong></td>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <td class="text-sm-center@((i <= DateTime.Now.Month) ? " greenwarning" : "")">
                                            @((ViewBag.EmplMotivationPlan[i] == -1) ? "" : ViewBag.EmplMotivationPlan[i] )
                                        </td>
                                    }
                                    <td class="text-sm-center font-weight-bold">@ViewBag.EmplMotivationPlan[0]</td>
                                </tr>
                                <tr>
                                    <td><strong>МОТИВАЦИОННЫЙ ФАКТ</strong></td>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <td class="text-sm-center@((i < DateTime.Now.Month) ? " greenwarning" : "")">
                                            @(ViewBag.EmplMotivationFact[i])
                                        </td>
                                    }
                                    <td class="text-sm-center font-weight-bold">@ViewBag.EmplMotivationFact[0]</td>
                                </tr>
                                <tr>
                                    <td><strong>МОТИВАЦИОННЫЙ РЕЗУЛЬТАТ</strong></td>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <td class="text-sm-center@((i < DateTime.Now.Month) ? " greenwarning" : "")">
                                            @if (i <= DateTime.Now.Month)
                                            {
                                                @((ViewBag.EmplMotivationResult[i] == -1) ? "" : ViewBag.EmplMotivationResult[i] + "%")
                                            }
                                        </td>
                                    }
                                    <td class="text-sm-center font-weight-bold"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>
}
    <div class="row">
        <div class="col-lg-12" style="padding-top: 15px;"></div>
    </div>

    <script src="~/Scripts/d3.v3.min.js" charset="utf-8"></script>
    <script>

    d3.json("@Url.Action("GetFactData", "Home")", function (data) {
        //Here you have data available, an object with the same structure
        //as the JSON that was send by the server.

        var maxDataVal = d3.max(data, function (d) { return d; })

        var _plan = data.splice(0, 12);
        var _fact = data;


        var width = document.getElementById('FactChartArea').offsetWidth;
        var height = 290;

        var svg = d3.select("#FactChartArea")
            .append("div")
            .classed("svg-container", true) //container class to make it responsive
            .append("svg")
            //responsive SVG needs these 2 attributes and no width and height attr
            .attr("preserveAspectRatio", "xMinYMin meet")
            .attr("viewBox", "0 0 " + width + " " + height)
            //class to make it responsive
            .classed("svg-content-responsive", true);

        var svgDefs = svg.append('defs');

        var mainGradient = svgDefs.append('linearGradient')
            .attr('id', 'mainGradient');

        // Create the stops of the main gradient. Each stop will be assigned
        // a class to style the stop using CSS.
        mainGradient.append('stop')
            .attr('class', 'stop-left')
            .attr('offset', '0');

        mainGradient.append('stop')
            .attr('class', 'stop-right')
            .attr('offset', '1');

        var x = d3.scale.linear()
            .range([0, width]);

        var y = d3.scale.linear()
            .range([height - 40, 0]);

        x.domain([0, data.length]);
        y.domain([maxDataVal, 0]);

        var monthes = ['ЯНВ', 'ФЕВ', 'МАР', 'АПР', 'МАЙ', 'ИЮН', 'ИЮЛ', 'АВГ', 'СЕН', 'ОКТ', 'НОЯ', 'ДЕК'];

        var bars = svg.selectAll()
            .data(data)
            .enter().append("g");

        bars.append("rect")
            .attr('x', function (d, i) { return x(i); })
            .attr('y', function (d) { return (height - y(d) - 18); })
            .attr('height', function (d) { return ((d >= 0) ? y(d) : 0); })
            .attr('width', 36)
            .attr('class', function (d, i) { return ((i == (new Date()).getMonth()) ? "current" : ((i >= (new Date()).getMonth()) ? "forecast" : "")); } );

        bars.append("text")
            .attr("x", function (d, i) { return x(i + 1) - 40; })
            .attr("y", function (d) { return ((d >= 0) ? (height - y(d) - 26) : (height - y(0) - 26)); })
            .text(function (d) { return ((d >= 0) ? d : ""); });
        bars.append("text")
            .attr("x", function (d, i) { return x(i + 1) - 40; })
            .attr("y", function (d) { return (height); })
            .text(function (d, i) { return monthes[i]; })
            .classed("secondaryText", true);

        var line = d3.svg.line()
            .x(function (d, i) { return x(i + 1) - 40; })
            .y(function (d) { return (height - y(d) - 18); });

        svg.append("path")
            .datum(_plan)
            .attr("class", "line1")
            .attr("d", line);

        var tooltip = d3.select("#FactChartArea").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

        svg.selectAll("dot")
            .data(_plan)
            .enter().append("circle")
            .attr("r", 5)
            .attr("style", "fill: #3E3F42;")
            .style("opacity", 0.9)
            .attr("cx", function (d, i) { return x(i + 1) - 40; })
            .attr("cy", function (d) { return (height - y(d) - 18); })
            .on("mouseover", function (d, i) {
                tooltip.transition()
                    .duration(120)
                    .style("opacity", 1);
                tooltip.html(d)
                    .style("left", (x(i + 1) - 40) + "px")
                    .style("top", (height - y(d) + 52) + "px");
            })
            .on("mouseout", function (d) {
                tooltip.transition()
                    .duration(200)
                    .style("opacity", 0);
            });

    });

    </script>

    <style>
        #FactChartArea text {
            text-anchor: middle;
            font-family: Roboto-Light;
        }

        #FactChartArea .stop-right {
            stop-color: #1665D8; /* Teal */
        }

        #FactChartArea .stop-left {
            stop-color: #1665D8; /* Indigo */
        }

        #FactChartArea .secondaryText {
            color: #6C6B6F;
            font-family: Roboto-Light;
            font-size: smaller;
        }

        #FactChartArea rect {
            fill: url(#mainGradient);
        }

        #FactChartArea rect:hover {
            fill: #6758F3;
        }

        #FactChartArea .current {
            fill: #FACF55;
        }

        #FactChartArea .forecast {
            fill: #BCBCBC;
        }

        .progress-bar {
            background-color: #1665D8;
        }

        .progress-bar-warning {
            background-color: #BCBCBC;
        }

        .progress-bar-success {
            background-color: #34AA44;
        }

        .progress-bar-danger {
            background-color: #E6492D;
        }

        .progress-bar-empty {
            background-color: #FFFFFF;
        }

        .line1 {
            fill: none;
            stroke: #3E3F42;
            stroke-opacity: .4;
            stroke-width: 2px;
        }

        div.tooltip {
            position: absolute;
            text-align: center;
            width: 60px;
            height: 28px;
            padding: 5px;
            font: 14px Roboto-Bold;
            background: #1a1a1d;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
            color: #FFFFFF;
        }

        .svg-container {
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 45%; /* aspect ratio */
            vertical-align: top;
            overflow: hidden;
        }

        .svg-content-responsive {
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 0;
        }
    </style>