﻿/*
    DEMO STYLE
*/
/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/


body {
    /*font-family: 'Poppins', sans-serif;*/
    }

.greenwarning {
    background: #efefef;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidewrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 80px;
    max-width: 80px;
    min-height: 100vh;
    text-align: center;
    background: #efefef;
    color: #2c2c2c;
}

#sidebar-header {
    padding: 20px;
}

    #sidebar-header h2 a {
        color: inherit;
        text-decoration: none;
    }

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
}

    #sidebar ul li a:hover {
        color: #2c2c2c;
        background: #2c2c2c;
        text-decoration: none;
    }

    #sidebar ul li a i {
        margin-right: 10px;
        text-decoration: none;
    }

#sidebar ul li a {
    color: #2c2c2c;
    background: #ffcb24;
    text-decoration: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
    #61e9d0; - green
    #37c5ab; - lightgreen
----------------------------------------------------- */
#content {
    padding: 30px;
    min-height: 100vh;
    min-width: calc(100vw - 80px);
}
