﻿@model IEnumerable<SiteRent.Models.Employees>

@{
    ViewBag.Title = "Сотрудники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    @if (Model != null)
    {
        <h3>
            Сотрудники:&nbsp;
            @ViewBag.CurrentEmployee.Regions
        </h3>
        <hr />
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Регион</th>
                    <th>Филиал</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Роль</th>
                    <th>Дома</th>
                    <th>УК</th>
                    <th>План</th>
                    <th>Факт</th>
                    <th>Прогресс</th>
                </tr>
            </thead>
            <tbody>
                @for(int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>@Model.ElementAt(i).Regions</td>
                        <td>@Model.ElementAt(i).Filials</td>
                        <td>@Model.ElementAt(i).Surname</td>
                        <td>@Model.ElementAt(i).Name</td>
                        <td>@Model.ElementAt(i).Role</td>
                        <td>@ViewBag.HousesInNri[i]</td>
                        <td>@ViewBag.UKInNri[i]</td>
                        <td>@ViewBag.Plans[i]</td>
                        <td>@ViewBag.Facts[i]</td>
                        <td>
                            <div class="progress" style="height:20px; min-width: 300px;visibility:@((ViewBag.HousesInNri[i] > 0) ? "visible": "hidden");">
                                <div class="progress-bar" style="width:@ViewBag.Progress[i]%;height:20px">@(ViewBag.Progress[i] + "%")</div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-warning">Данные не найдены или отсутствует доступ</div>
    }
</div>