﻿@model IEnumerable<SiteRent.Models.Employees>

@{
    ViewBag.Title = "Результаты сотрудников";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    @{
        int m = (ViewBag.Month != null) ? ViewBag.Month : DateTime.Now.Month;
        int y = (ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year;

        string strMonth = String.Empty;
        switch (m)
        {
            case 1: strMonth = "ЯНВАРЬ"; break;
            case 2: strMonth = "ФЕВРАЛЬ"; break;
            case 3: strMonth = "МАРТ"; break;
            case 4: strMonth = "АПРЕЛЬ"; break;
            case 5: strMonth = "МАЙ"; break;
            case 6: strMonth = "ИЮНЬ"; break;
            case 7: strMonth = "ИЮЛЬ"; break;
            case 8: strMonth = "АВГУСТ"; break;
            case 9: strMonth = "СЕНТЯБРЬ"; break;
            case 10: strMonth = "ОКТЯБРЬ"; break;
            case 11: strMonth = "НОЯБРЬ"; break;
            case 12: strMonth = "ДЕКАБРЬ"; break;
            default: break;
        }
    }
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2018) ? " active" : "")" href="~/Reports/EmployeesApproved?year=2018&month=@((ViewBag.Month != null) ? ViewBag.Month : DateTime.Now.Month)"><h5>2018</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2019) ? " active" : "")" href="~/Reports/EmployeesApproved?year=2019&month=@((ViewBag.Month != null) ? ViewBag.Month : DateTime.Now.Month)"><h5>2019</h5></a>
        </li>
        <li class="nav-item">
            <h5 class="nav-link disabled">|</h5>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 1) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=1"><h5>ЯНВ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 2) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=2"><h5>ФЕВ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 3) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=3"><h5>МАР</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 4) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=4"><h5>АПР</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 5) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=5"><h5>МАЙ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 6) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=6"><h5>ИЮН</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 7) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=7"><h5>ИЮЛ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 8) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=8"><h5>АВГ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 9) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=9"><h5>СЕН</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 10) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=10"><h5>ОКТ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 11) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=11"><h5>НОЯ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 12) ? " active" : "")" href="~/Reports/EmployeesApproved?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=12"><h5>ДЕК</h5></a>
        </li>
    </ul>
    @{ string cnt = "не найдено"; }
    @if (Model != null && Model.Count() > 0 && ViewBag.Results != null && ViewBag.Results.Count > 0)
    {
        int res = 0;
        foreach (var r in ViewBag.Results)
        {
            res += r;
        }
        cnt = res.ToString();
    }
    <hr />
    <h3>Производительность сотрудников: @(strMonth + " " + y.ToString()). Найдено МКД: @(cnt)</h3>
    <br />
    @{ int i = 0; }
    @if (Model != null && Model.Count() > 0 && ViewBag.Results != null)
    {

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Сотрудник</th>
                    <th>Роль</th>
                    <th>Регион</th>
                    <th>Филиал</th>
                    <th>Согласовано МКД</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                <tr>
                    <td>@(emp.Name + " " + emp.Surname)</td>
                    <td>@(emp.Role)</td>
                    <td>@(emp.Regions)</td>
                    <td>@(emp.Filials.Replace(" ф-л", ""))</td>
                    <td>@(ViewBag.Results[i])</td>
                </tr>
                    { i++; }
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-warning">Данные за запрошенный период не найдены.</h3>
    }

</div>

