﻿@model IEnumerable<SiteRent.Models.Houses>

@{
    ViewBag.Title = "Согласованные дома";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    @{
        int m = (ViewBag.Month != null) ? ViewBag.Month : DateTime.Now.Month;
        int y = (ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year;

        string strMonth = String.Empty;
        switch (m)
        {
            case 1: strMonth = "ЯНВАРЬ"; break;
            case 2: strMonth = "ФЕВРАЛЬ"; break;
            case 3: strMonth = "МАРТ"; break;
            case 4: strMonth = "АПРЕЛЬ"; break;
            case 5: strMonth = "МАЙ"; break;
            case 6: strMonth = "ИЮНЬ"; break;
            case 7: strMonth = "ИЮЛЬ"; break;
            case 8: strMonth = "АВГУСТ"; break;
            case 9: strMonth = "СЕНТЯБРЬ"; break;
            case 10: strMonth = "ОКТЯБРЬ"; break;
            case 11: strMonth = "НОЯБРЬ"; break;
            case 12: strMonth = "ДЕКАБРЬ"; break;
            default: break;
        }
    }
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2018) ? " active" : "")" href="~/Reports/FactAgreed?year=2018&month=@((ViewBag.Month != null) ? ViewBag.Month : DateTime.Now.Month)"><h5>2018</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2019) ? " active" : "")" href="~/Reports/FactAgreed?year=2019&month=@((ViewBag.Month != null) ? ViewBag.Month : DateTime.Now.Month)"><h5>2019</h5></a>
        </li>
        <li class="nav-item">
            <h5 class="nav-link disabled">|</h5>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 1) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=1"><h5>ЯНВ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 2) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=2"><h5>ФЕВ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 3) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=3"><h5>МАР</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 4) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=4"><h5>АПР</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 5) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=5"><h5>МАЙ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 6) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=6"><h5>ИЮН</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 7) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=7"><h5>ИЮЛ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 8) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=8"><h5>АВГ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 9) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=9"><h5>СЕН</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 10) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=10"><h5>ОКТ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 11) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=11"><h5>НОЯ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 12) ? " active" : "")" href="~/Reports/FactAgreed?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=12"><h5>ДЕК</h5></a>
        </li>
    </ul>

    <hr />
    <h3>Согласованные дома: @(strMonth + " " + y.ToString()). Найдено МКД: @((Model  != null) ? Model.Count().ToString() : "0").</h3>
    <br />

    @if (Model != null && Model.Count() > 0)
    {
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Дата</th>
                    <th>Регион</th>
                    <th>Филиал</th>
                    <th>Город</th>
                    <th>Адрес</th>
                    <th>Сотрудник</th>
                    <th>УК/ТСЖ</th>
                    <th class="text-right">Capex, руб.</th>
                    <th class="text-right">Opex, руб.<br />в мес. без НДС</th>
                    <th>Мотивация</th>
                    <th>Реклама</th>
                    <th>Доступ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (SiteRent.Models.Houses house in Model)
                {
                <tr>
                    <td><p title="@(house.FactDate.Value.ToString())">@(house.FactDate.Value.ToShortDateString())</p></td>
                    <td>@(house.Region)</td>
                    <td>@(house.Filial.Split(' ')[0])</td>
                    <td>@(house.City.Split(',')[0])</td>
                    <td>
                        @Html.ActionLink(house.StreetName + " " + house.StreetType + " " + house.Number1 + house.Number2 + house.Number3, "Edit", "Houses", new { id = house.Id }, null)
                    </td>
                    <td>@((ViewBag.EmployeeList != null && ViewBag.EmployeeList.Count > i) ? ViewBag.EmployeeList[i].ToString() : "неизвестно")</td>
                    <td>@(house.UK)</td>
                    <td class="text-right">@((house.FactAgreementPrice != null && house.FactAgreementPrice.HasValue) ? house.FactAgreementPrice.Value.ToString("0.00") : "н/д")</td>
                    <td class="text-right">@((house.FactRentPrice != null && house.FactRentPrice.HasValue) ? house.FactRentPrice.Value.ToString("0.00") : "н/д")</td>
                    <td>@(house.IsPersonal ? "ДА" : "НЕТ")</td>
                    <td>@(house.HasContractAdvertising ? "ДА" : "НЕТ")</td>
                    <td>@(house.HasContractAdvancedAccess ? "ДА" : "НЕТ")</td>
                    <td></td>
                </tr>
                    i = i + 1;
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-warning">Данные за запрошенный период не найдены.</h3>
    }
</div>