﻿@{
    ViewBag.Title = "Воронка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <h5 class="nav-link disabled">Воронка</h5>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2018) ? " active" : "")" href="~/Reports/Funnel?year=2018"><h5>2018</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2019) ? " active" : "")" href="~/Reports/Funnel?year=2019"><h5>2019</h5></a>
        </li>
    </ul>
    <hr />
    @if (ViewBag.Regions != null)
    {
    <table class="table table-responsive-sm small">
        <thead class="thead-light">
            <tr>
                <th>Регион</th>
                <th>Филиал</th>
                <th>Всего</th>
                <th>Оценка</th>
                <th>Без плана</th>
                <th>Утв. плана</th>
                <th>В работе<br />мотивация</th>
                <th>В работе<br />без мотив.</th>
                <th>Подтв.<br />доступа</th>
                <th>Нет<br />доступа</th>
                <th>Подпис.<br />договора</th>
                <th>Подтв.<br />факта</th>
                <th>Приказ</th>
                <th>Факт</th>
                <th>Прогресс</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.Filials.Count; i++)
            {
            <tr>
                <td>@(ViewBag.Regions[i].ToString())</td>
                <td>@(ViewBag.Filials[i].ToString())</td>
                <td>@(ViewBag.Total[i].ToString())</td>
                <td>@(ViewBag.Possibility[i].ToString())</td>
                <td>@(ViewBag.Planning[i].ToString())</td>
                <td>@(ViewBag.PlanApproval[i].ToString())</td>
                <td>@(ViewBag.AtWorkPersonal[i].ToString())</td>
                <td>@(ViewBag.AtWorkNotPersonal[i].ToString())</td>
                <td>@(ViewBag.AccessOnApproval[i].ToString())</td>
                <td>@(ViewBag.AccessNotApproved[i].ToString())</td>
                <td>@(ViewBag.DocumentSigning[i].ToString())</td>
                <td>@(ViewBag.OnFactApproval[i].ToString())</td>
                <td>@((ViewBag.Master[i] == null || ViewBag.Master[i] == 0) ? "" : ViewBag.Master[i])</td>
                <td>@(ViewBag.Fact[i].ToString())</td>
                <td>
                    @if ((ViewBag.Master[i] == null || ViewBag.Master[i] == 0) && ViewBag.Fact[i] > 0)
        {
            <div class="progress" style="height:20px; min-width: 200px; visibility: visible;">
                <div class="progress-bar bg-danger" style="width:100%;height:20px"></div>
            </div>
}
else
{
            <div class="progress" style="height:20px; min-width: 200px;visibility:@((ViewBag.Progress[i] != null) ? "visible": "hidden");">
                <div class="progress-bar" style="width:@((ViewBag.Progress[i] == null) ? 0 : ViewBag.Progress[i])%;height:20px">@(((ViewBag.Progress[i] == null) ? 0 : ViewBag.Progress[i]) + "%")</div>
            </div>
}
                </td>
            </tr>
            }
        </tbody>        
    </table>
    }
    else
    {
        <h3 class="text-warning">Данные за запрошенный период не найдены.</h3>
    }
</div>