﻿
@{
    ViewBag.Title = "HeatMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); min-width: 1460px; min-height: 795px;">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="../Content/leaflet-heat.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

    <script src=""></script>
    <style>

        #map {
            position: absolute;
            top: 50px;
            width: 90%;
            height: 750px;
        }
    </style>

    <div id='map'></div>
    <script>
        //плагин Leaflet.heat
        //https://github.com/Leaflet/Leaflet.heat

        var map = L.map('map').setView([55.72842717180044, 37.61332511901855], 11);



        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: ''
        }).addTo(map);

        $.getJSON('../Reports/GetTestGeoJson', addData);

        function addData(data) {

            var heatPoints = [];

            L.geoJSON(data, {
                onEachFeature: function (feature, layer) {
                    heatPoints.push([feature.geometry.coordinates[1], feature.geometry.coordinates[0]]);
                }
            });

            L.heatLayer(heatPoints).addTo(map);
        }


    </script>

</div>
