﻿
@{
    ViewBag.Title = "Отчеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h2>Отчеты</h2>
    <hr />
    <a href="@Url.Action("State", "Houses")" class="display-4 nav-link text-info">Статус согласования RO</a>
    <a href="@Url.Action("Funnel", "Reports")" class="display-4 nav-link text-info">Воронка</a>
    <a href="@Url.Action("FactAgreed", "Reports")" class="display-4 nav-link text-info">Согласованные объекты</a>
    <a href="@Url.Action("CurrentEmployees", "Reports")" class="display-4 nav-link text-info">Прогресс сотрудников</a>
    <a href="@Url.Action("EmployeesApproved", "Reports")" class="display-4 nav-link text-info">Производительность сотрудников</a>
    <a href="@Url.Action("Motivation", "Reports")" class="display-4 nav-link text-info">Результаты мотивационной программы</a>
    <a href="@Url.Action("Map", "Reports")" class="display-4 nav-link text-info">Согласованные объекты на карте</a>
</div>