﻿
@{
    ViewBag.Title = "Knowledge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h2>База знаний</h2>
    <hr />    
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/Learning/learning_base.png" alt="Card image" style="filter: grayscale(100%);">
                    <div class="card-body">
                        <h4 class="card-title">Словарь терминов</h4>
                        <a href="~/Reports/Knowledge" class="btn btn-secondary disabled">Перейти</a>
                    </div>
                </div>
            </div>            
        </div>    
    </div>
</div>
<br />
<br />
<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h2>Обучение</h2>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/Learning/learning_welcome.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Введение</h4>
                        <a href="~/Reports/Knowledge" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/Learning/learning_business.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Бизнес</h4>
                        <a href="~/Reports/LearningBusiness" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/Learning/learning_tech.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Техника</h4>
                        <a href="~/Reports/Knowledge" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/Learning/learning_law.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Юр. блок</h4>
                        <a href="~/Reports/Knowledge" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/Learning/learning_negotiations.png" alt="Card image" style="filter: grayscale(100%);">
                    <div class="card-body">
                        <h4 class="card-title">Переговоры</h4>
                        <a href="~/Reports/Knowledge" class="btn btn-secondary disabled">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>