﻿
@{
                /**/

                ViewBag.Title = "LearningBusiness";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav id="navbar-learning" class="navbar navbar-light bg-light navbar-expand-md fixed-top" style="margin-left: 80px; overflow-x: hidden;">

    <a class="navbar-brand" href="~/Reports/Knowledge">НАЗАД</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#1">1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#2">2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#3">3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#4">4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#5">5</a>
        </li>
    </ul>
</nav>
<div style="margin-left: -30px; width: 100%; overflow-x: hidden;">
    <div data-spy="scroll" data-target="#navbar-learning" data-offset="0">
        <img id="1" name="1" src="~/Content/Images/Learning/Business/learning_business_1.png" style="max-width: calc(100vw - 105px)" />
        <img id="2" name="2" src="~/Content/Images/Learning/Business/learning_business_2.png" style="max-width: calc(100vw - 105px)" />
        <img id="3" name="3" src="~/Content/Images/Learning/Business/learning_business_3.png" style="max-width: calc(100vw - 105px)" />
        <img id="4" name="4" src="~/Content/Images/Learning/Business/learning_business_4.png" style="max-width: calc(100vw - 105px)" />
        <img id="5" name="5" src="~/Content/Images/Learning/Business/learning_business_5.png" style="max-width: calc(100vw - 105px)" />
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $('body').scrollspy({ target: '#navbar-learning' })

    </script>
}
