﻿
@{
    ViewBag.Title = "Карта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); min-width: 1460px; min-height: 795px;">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css" />
    <script src=""></script>
    <style>

        #map {
            position: absolute;
            top: 50px;
            width: 90%;
            height: 750px;
        }

        .clusterIcon {
            display: block;
            background: rgb(255, 216, 0);
            color: #808080;
            font-weight: bold;
            font-size: large;
            padding: 15px;
            border-radius: 50%;
        }
    </style>

    <div id='map'></div>

    <script>
        //кластеризация маркеров
        //https://github.com/Leaflet/Leaflet.markercluster


        var map = L.map('map').setView([55.72842717180044, 37.61332511901855], 11);

        var cluster = L.markerClusterGroup({
            iconCreateFunction: function (cluster) {
                return L.divIcon({
                    html: '<div>' + cluster.getChildCount() + '</div>',
                    className: 'clusterIcon',
                    iconSize: false
                });
            }
        });



        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: ''
        }).addTo(map);

        //$.getJSON('../Content/bike_stations.geojson', addData);

        $.getJSON('../Reports/GetTestGeoJson', addData);

        function addData(data) {
            var featureLayer = L.geoJSON(data, {
                onEachFeature: function (feature, layer) {
                    console.log(feature);
                    if (feature.properties.name) {
                        layer.bindPopup(feature.properties.name);
                    }
                }
            });



            featureLayer.addTo(cluster);
            cluster.addTo(map);         
            map.fitBounds(cluster.getBounds());
        }

    </script>

</div>

