﻿
@{
    ViewBag.Title = "Мотивация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    @{
        int m = (ViewBag.Month != null) ? ViewBag.Month : DateTime.Now.Month;
        int y = (ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year;

        string strMonth = String.Empty;
        switch (m)
        {
            case 1: strMonth = "ЯНВАРЬ"; break;
            case 2: strMonth = "ФЕВРАЛЬ"; break;
            case 3: strMonth = "МАРТ"; break;
            case 4: strMonth = "АПРЕЛЬ"; break;
            case 5: strMonth = "МАЙ"; break;
            case 6: strMonth = "ИЮНЬ"; break;
            case 7: strMonth = "ИЮЛЬ"; break;
            case 8: strMonth = "АВГУСТ"; break;
            case 9: strMonth = "СЕНТЯБРЬ"; break;
            case 10: strMonth = "ОКТЯБРЬ"; break;
            case 11: strMonth = "НОЯБРЬ"; break;
            case 12: strMonth = "ДЕКАБРЬ"; break;
            default: break;
        }
    }
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2018) ? " active" : "")" href="~/Reports/Motivation?year=2018&month=@((ViewBag.Month != null) ? ViewBag.Month : DateTime.Now.Month)"><h5>2018</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2019) ? " active" : "")" href="~/Reports/Motivation?year=2019&month=@((ViewBag.Month != null) ? ViewBag.Month : DateTime.Now.Month)"><h5>2019</h5></a>
        </li>
        <li class="nav-item">
            <h5 class="nav-link disabled">|</h5>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 1) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=1"><h5>ЯНВ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 2) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=2"><h5>ФЕВ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 3) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=3"><h5>МАР</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 4) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=4"><h5>АПР</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 5) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=5"><h5>МАЙ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 6) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=6"><h5>ИЮН</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 7) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=7"><h5>ИЮЛ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 8) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=8"><h5>АВГ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 9) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=9"><h5>СЕН</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 10) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=10"><h5>ОКТ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 11) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=11"><h5>НОЯ</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Month != null && ViewBag.Month == 12) ? " active" : "")" href="~/Reports/Motivation?year=@((ViewBag.Year != null) ? ViewBag.Year : DateTime.Now.Year)&month=12"><h5>ДЕК</h5></a>
        </li>
    </ul>

    @{ string pln = "не найден"; string fct = "не найден"; }

    @if (ViewBag.Plans != null && ViewBag.Facts != null && ViewBag.Plans.Count > 0 && ViewBag.Facts.Count > 0 && ViewBag.Plans.Count == ViewBag.Facts.Count)
    {
        int p = 0;
        int f = 0;
        for (int t = 0; t < ViewBag.Plans.Count; t++)
        {
            p += ViewBag.Plans[t];
            f += ViewBag.Facts[t];
        }
        pln = p.ToString();
        fct = f.ToString();
    }

    <hr />
    <h3>Результаты мотивационной программы: @(strMonth + " " + y.ToString()). План @(pln) / Факт @(fct).</h3>
    <br />

    @if (ViewBag.Empls != null && ViewBag.Empls.Count > 0)
    {
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Сотрудник</th>
                    <th>Штат</th>
                    <th>План</th>
                    <th>Факт</th>
                    <th>Результат</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.Empls.Count; i++)
                {
                <tr>
                    <td>@((ViewBag.Empls[i] != null) ? ViewBag.Empls[i].Surname + " " + ViewBag.Empls[i].Name + " " + ViewBag.Empls[i].Patronymic : "СОТРУДНИК НЕ ОПРЕДЕЛЕН")</td>
                    <td>@((ViewBag.Empls[i] != null) ? ViewBag.Empls[i].StaffType : "")</td>
                    <td>@(ViewBag.Plans[i])</td>
                    <td>@(ViewBag.Facts[i])</td>
                    <td>
                    @if (ViewBag.Results[i] < 70)
                    {
                        <b>0%</b>
                    }
                    else
                    {
                        if (ViewBag.Results[i] < 100)
                        {
                            <b>70%</b>
                        }
                        else
                        {
                            if (ViewBag.Results[i] < 120)
                            {
                                <b>100%</b>
                            }
                            else
                            {
                                if (ViewBag.Results[i] < 150)
                                {
                                    <b>120%</b>
                                }
                                else
                                {
                                    <b>150%</b>
                                }
                            }
                        }
                    }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-warning">Данные за запрошенный период не найдены.</h3>
    }
</div>

