﻿@model IEnumerable<SiteRent.Models.ManagementCompanys>

@{
    ViewBag.Title = "Планирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h3>Планирование&nbsp;объектов&nbsp;RO&nbsp;(ТОП @((ViewBag.Take != null) ? ViewBag.Take : "УК"))</h3>
    <br />
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2018) ? " active" : "")" href="~/Reports/Planning?year=2018"><h5>2018</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link@((ViewBag.Year != null && ViewBag.Year == 2019) ? " active" : "")" href="~/Reports/Planning?year=2019"><h5>2019</h5></a>
        </li>
    </ul>
    @if (Model != null)
    {
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Регион</th>
                <th>Филиал</th>
                <th>Город</th>
                <th>Наименование УК</th>
                <th>Дома 18</th>
                <th>Дома 19</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itm in Model)
            {
            <tr>
                <td>@(itm.Region)</td>
                <td>@(itm.Filial)</td>
                <td>@(itm.City)</td>
                <td class="@(String.IsNullOrEmpty(itm.Name) ? "text-danger" : "")">@(String.IsNullOrEmpty(itm.Name) ? "НЕ ОПРЕДЕЛЕНО" : itm.Name)</td>
                <td>@(itm.RO18Houses)</td>
                <td>@(itm.RO19Houses)</td>
            </tr>
            }

        </tbody>
    </table>
    }
    else
    {
        <h3 class="text-warning">Данные не найдены</h3>
    }
</div>

