﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-largegrid.min.css")
    @Scripts.Render("~/bundles/modernizr")
    <!--<link rel="stylesheet" href="~/Content/sidebar.css"> navbar navbar-expand-lg navbar-light bg-light-->
</head>
<body style="min-height: 75rem; padding-top: 4.5rem;">
    @{SiteRent.Models.Employees LoggedIdEmployee = SiteRent.Models.ApplicationDbContext.Create().Employees.Where(x => x.Email == User.Identity.Name).FirstOrDefault(); }
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1a1a1d">
        @Html.ActionLink("SITERENT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Houses")" class="nav-link">
                        <img src="~/Content/Images/sidebar_houses.svg" title="Дома" alt="Дома" style="width: 16px; height: 16px;" />
                        <span>ДОМА</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Planning", "Reports")" class="nav-link">
                        <img src="~/Content/Images/sidebar_cloud.svg" title="Планирование" alt="Планирование" style="width: 16px; height: 16px;" />
                        <span>ПЛАНИРОВАНИЕ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Reports")" class="nav-link">
                        <img src="~/Content/Images/sidebar_chart.svg" title="Отчеты" alt="Отчеты" style="width: 16px; height: 16px;" />
                        <span>ОТЧЕТНОСТЬ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Map", "Reports")" class="nav-link">
                        <img src="~/Content/Images/sidebar_placeholder.svg" title="Карта" alt="Карта" style="width: 16px; height: 16px;" />
                        <span>КАРТА</span>
                    </a>
                </li>
                @if (LoggedIdEmployee != null && (LoggedIdEmployee.Role == "Штаб-квартира" || LoggedIdEmployee.Role == "Руководитель"))
                {
                    <li class="nav-item">
                        <a href="@Url.Action("CurrentEmployees", "Reports")" class="nav-link">
                            <img src="~/Content/Images/sidebar_people.png" title="Сотрудники" alt="Сотрудники" style="width: 16px; height: 16px;" />
                            <span>СОТРУДНИКИ</span>
                        </a>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("Knowledge", "Reports")" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Content/Images/books.svg" title="Знания" alt="Знания" style="width: 16px; height: 16px;" />
                        <span>ЗНАНИЯ</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown10">
                        <a class="dropdown-item" href="@Url.Action("Knowledge", "Reports")">Каталог</a>
                        <a class="dropdown-item" href="@Url.Action("Knowledge", "Reports")">Банк знаний</a>
                        <a class="dropdown-item" href="@Url.Action("Knowledge", "Reports")">Обучение</a>
                    </div>
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav">
                    @Html.Partial("_LoginPartial", (SiteRent.Models.Employees)LoggedIdEmployee)
                </ul>
            }
        </div>
    </nav>

    <main role="main" class="container" id="content">
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
