﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
    {
        @Html.AntiForgeryToken()

        string AvatarName = (Model != null && Model is SiteRent.Models.Employees) ? Model.Name.Substring(0, 1) + Model.Surname.Substring(0, 1) : String.Empty;


        <li class="nav-item dropdown">
            <a class="nav-link" id="loginmenu" data-toggle="dropdown" href="" style="padding:0px; margin:0px;">
                <!--<object data="~/Content/Images/Users/@(User.Identity.GetUserName().Split('@')[0]).jpg" type="image/jpg" style="width: 34px; height: 34px; padding: 0px; margin-bottom: -6px;" class="rounded-circle"></object>-->
                <div style="width: 34px; height: 34px; background-image: linear-gradient(90deg, #5561e2, #729dff); color: #FFFFFF; font-size: 18px; display: flex; justify-content: center; align-items: center;" class="rounded-circle">@AvatarName</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginmenu">
                <a class="dropdown-item" href="@Url.Action("ChangePassword", "Manage")">Настройка</a>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
            </div>
        </li>
    }
}
else
{
    <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Регать", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
            </li>
        </ul>
    </form>
}
