﻿@model SiteRent.Models.Houses

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Houses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NriId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NriId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ERP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ERP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanApproval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactTransferredToAgreement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactTransferredToAgreement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactAgreed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactAgreed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entrances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrances)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanAgreementPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanAgreementPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactAgreementPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactAgreementPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapexReliased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapexReliased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanRentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanRentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactRentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactRentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UkContacts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UkContacts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedOss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedOss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedPir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedPir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasOss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasOss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
