﻿@model SiteRent.Models.Houses

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string Address = Model.StreetName + " " + Model.StreetType;
    if (!String.IsNullOrEmpty(Model.Type1))
    {
        Address = Address + " " + Model.Type1 + " " + Model.Number1;
    }
    if (!String.IsNullOrEmpty(Model.Type2))
    {
        Address = Address + " " + Model.Type2 + " " + Model.Number2;
    }
    if (!String.IsNullOrEmpty(Model.Type3))
    {
        Address = Address + " " + Model.Type3 + " " + Model.Number3;
    }

    string BGImgName = "vp1.jpeg";
    switch (Math.Ceiling(DateTime.Now.Hour / 6.0))
    {
        case 1: BGImgName = "vp1.jpeg"; break; //ночь
        case 2: BGImgName = "vp2.jpg"; break; //утро
        case 3: BGImgName = "vp3.jpg"; break; //день
        case 4: BGImgName = "vp4.jpg"; break; //вечер
        default: BGImgName = "vp1.jpeg"; break;
    }
}

<!--
background: #ffffff url(/Content/Images/Temp/@(BGImgName)) center space;
-->

<div class="row shadow-sm" style="font-family: Roboto-Regular; border-top-left-radius: 8px; border-top-right-radius: 8px;">
    <div class="col-lg-12" style="background-image: linear-gradient(90deg, #5561e2, #729dff); padding: 30px 0px 30px 120px; border-top-left-radius: 8px; border-top-right-radius: 8px;">
        <div style="background: rgba(255, 255, 255, 0.9); padding: 30px; border-bottom-left-radius: 8px; border-top-left-radius: 8px;">
            <h3 style="font-family: Roboto-Light;">@(Model.Region + ", " + Model.Filial + ", " + Model.City + ", " + Model.Area)</h3>
            <br />
            <h5>@(Address)</h5>
        </div>
    </div>
</div>
<div class="row shadow-sm" style="font-family: Roboto-Light; background-color: #ffffff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
    <div class="col-lg-12">
        <ul class="nav nav-pills flex-column flex-sm-row mb-3 p-3" id="pills-tab" role="tablist">
            <li class="nav-item" style="padding-top: 12px;">
                <a class="nav-link" href=@(Request.UrlReferrer)><img src="~/Content/Images/back.svg" style="height: 24px;" /></a>
            </li>
            <li class="nav-item" style="min-width: 140px; text-align: center; padding-top: 12px;">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">ОПИСАНИЕ</a>
            </li>
            <li class="nav-item" style="min-width: 140px; text-align: center; padding-top: 12px;">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">СТАТУС</a>
            </li>
            <li class="nav-item" style="min-width: 140px; text-align: center; padding-top: 12px;">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">КОНТРАКТ</a>
            </li>
            <li class="nav-item ml-auto" style="padding-top: 10px;">
                <a class="nav-link" href="@("http://nri-rby.vimpelcom.ru:3030/#house-id-" + Model.NriId.ToString())" target="_blank"><img src="~/Content/Images/more_dark.svg" style="height: 26px;" /></a>
            </li>
        </ul>
    </div>
</div>

<div class="row shadow-sm" style="font-family: Roboto-Light; margin-top: 20px; background-color: #ffffff; border-radius: 8px; padding: 30px;">
    <div class="col-lg-12">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <h5>Данные NRI (@((Model.Updated != null && Model.Updated.HasValue) ? Model.Updated.Value.ToString() : "неизвестно"))</h5>
                <hr />
                <div class="row">
                    <div class="col-3">Id:</div>
                    <div class="col-9"><strong>@(Model.NriId)</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">ГФК:</div>
                    <div class="col-9"><strong>@(Model.GFK)</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">ЕРП:</div>
                    <div class="col-9"><strong>@(Model.ERP)</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Год&nbsp;RO:</div>
                    <div class="col-9"><strong>@(Model.RoYear)</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Capex:</div>
                    <div class="col-9"><strong>@((Model.PlanAgreementPrice != null && Model.PlanAgreementPrice.HasValue) ? Model.PlanAgreementPrice.Value.ToString("0.00") + " руб." : "не оценен")</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Opex:</div>
                    <div class="col-9"><strong>@((Model.PlanRentPrice != null && Model.PlanRentPrice.HasValue) ? Model.PlanRentPrice.Value.ToString("0.00") + " руб. в мес. без НДС" : "не оценен")</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Ответственный:</div>
                    <div class="col-9">
                        <strong>
                            @if (Model.EmployeeId != null)
                            {
                                @(Model.Employee.Name + " " + Model.Employee.Surname)
                                <img src="~/Content/Images/okresponsible.svg" height="16" />
                            }
                            else
                            {
                                <img src="~/Content/Images/nouser.svg" height="16" title="Нет ответственного" />
                            }
                        </strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">УК/ТСЖ:</div>
                    <div class="col-9"><strong>@(Model.UK)</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Комментарий:</div>
                    <div class="col-9"><strong>@(Model.Comment)</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">План:</div>
                    <div class="col-9"><strong>@((Model.NriRentPlan != null && Model.NriRentPlan.HasValue) ? Model.NriRentPlan.Value.ToString() : "не установлен")</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Факт:</div>
                    <div class="col-9"><strong>@((Model.NriRentFact != null && Model.NriRentFact.HasValue) ? Model.NriRentFact.Value.ToString() : "не установлен")</strong></div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <h5>Статус NRI:&nbsp;<strong>@(Model.Status)</strong></h5>
                <hr />
                <div class="row">
                    <div class="col-3">Получен:</div>
                    <div class="col-9"><strong>@(Model.FactTransferredToAgreement)</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Согласован:</div>
                    <div class="col-9">
                        <strong>@(Model.FactAgreed)</strong>
                        @if (Model.FactAgreed != null && Model.FactAgreed.HasValue)
                        {
                            <img src="~/Content/Images/deal.svg" height="16" title="Согласован" />
                        }
                        else
                        {
                            <img src="~/Content/Images/outdeal.svg" height="16" title="Не согласован" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">Подтвержден:</div>
                    <div class="col-9">
                        <strong>@(Model.FactApproved)</strong>
                        @if (Model.FactApproved != null && Model.FactApproved.HasValue)
                        {
                            <img src="~/Content/Images/approve.svg" height="16" title="Подтвержден" />
                        }
                        else
                        {
                            <img src="~/Content/Images/ourapprove.svg" height="16" title="Не подтвержден" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">Документ:</div>
                    <div class="col-9">
                        <strong>@(Model.FactDocumentDate)</strong>
                        @if (Model.FactDocumentDate != null && Model.FactDocumentDate.HasValue && !String.IsNullOrEmpty(Model.FactDocumentDescription) && !String.IsNullOrEmpty(Model.FactDocumentLink))
                        {
                            <img src="~/Content/Images/document.svg" height="16" title="Договор загружен" />
                        }
                        else
                        {
                            <img src="~/Content/Images/outdocument.svg" height="16" title="Договор не подписан" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">Ссылка:</div>
                    <div class="col-9">
                        @if (Model != null && Model.FactDocumentLink != null && !String.IsNullOrEmpty(Model.FactDocumentLink) && (Model.FactDocumentLink.IndexOf(@"http://ecm-bl01-prd.vimpelcom.ru") > -1 || Model.FactDocumentLink.IndexOf(@"https://ecm-bl01-prd.vimpelcom.ru") > -1))
                        {
                            <a href="@(Model.FactDocumentLink)" title="@(Model.FactDocumentLink)"><strong>ECM Договоры</strong></a>
                        }
                        else
                        {
                            if (Model != null && Model.FactDocumentLink != null)
                            {
                                <a href="@((Model.FactDocumentLink.Length > 16) ? Model.FactDocumentLink.Substring(0, 15) : Model.FactDocumentLink)" title="@(Model.FactDocumentLink)">
                                    <strong>@(Model.FactDocumentLink)</strong>
                                </a>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">Описание:</div>
                    <div class="col-9"><strong>@(Model.FactDocumentDescription)</strong></div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">Участвует в мотивации:</div>
                    <div class="col-9">
                        <strong>@(Model.IsPersonal ? "ДА" : "НЕТ")</strong>
                        @if (Model.IsPersonal)
                        {
                            <img src="~/Content/Images/star.svg" height="16" title="Участвует в программе мотивации" />
                        }
                        else
                        {
                            <img src="~/Content/Images/outstar.svg" height="16" title="Не участвует в программе мотивации" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">Включает рекламу:</div>
                    <div class="col-9"><strong>@(Model.HasContractAdvertising ? "ДА" : "НЕТ")</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Доступ выходные и вечером:</div>
                    <div class="col-9"><strong>@(Model.HasContractAdvancedAccess ? "ДА" : "НЕТ")</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Затраты capex:</div>
                    <div class="col-9"><strong>@(Model.FactAgreementPrice) руб.</strong></div>
                </div>
                <div class="row">
                    <div class="col-3">Затраты opex:</div>
                    <div class="col-9"><strong>@(Model.FactRentPrice) руб. в мес. без НДС</strong></div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">Факт согласования:</div>
                    <div class="col-9"><strong>@(Model.FactDate)</strong></div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <h5>Данные ECM (@((Model.Updated != null && Model.Updated.HasValue) ? Model.Updated.Value.ToString() : "неизвестно"))</h5>
                <hr />
                @if (ViewBag.EcmDocument != null)
                {
                    var doc = (SiteRent.Models.EcmDocuments)ViewBag.EcmDocument;
                    <div class="row">
                        <div class="col-3">Контрагент:</div>
                        <div class="col-9"><strong>@((doc != null) ? doc.Landlord : "неизвестно")</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-3">ИНН:</div>
                        <div class="col-9"><strong>@((doc != null) ? doc.INN : "неизвестно")</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-3">№ договора:</div>
                        <div class="col-9"><strong>@((doc != null) ? doc.NumberBase : "неизвестно")</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-3">№ ДС:</div>
                        <div class="col-9"><strong>@((doc != null) ? doc.NumberAddon : "неизвестно")</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-3">Подписан:</div>
                        <div class="col-9"><strong>@((doc != null && doc.SignDate.HasValue) ? doc.SignDate.Value.ToShortDateString() : "неизвестно")</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-3">Действует:</div>
                        <div class="col-9"><strong>@((doc != null && doc.StartDate.HasValue) ? doc.StartDate.Value.ToShortDateString() : "неизвестно")</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-3">Тип:</div>
                        <div class="col-9"><strong>@((doc != null) ? doc.Type : "неизвестно")</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-3">Статус:</div>
                        <div class="col-9"><strong>@((doc != null) ? doc.Status : "неизвестно")</strong></div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-12"><h5 class="text-warning">Данные в ECM отсутствуют!</h5></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.FactTransferredToAgreement != null && ViewBag.CurrentEmployee != null && ((ViewBag.CurrentEmployee.CanApproveHouses == true && ViewBag.CurrentEmployee.Filials.IndexOf(Model.Filial) > -1) || (ViewBag.CurrentEmployee.Role == "Штаб-квартира")))
{
    <div class="row shadow-sm" style="font-family: Roboto-Light; margin-top: 20px; background-color: #ffffff; border-radius: 8px; padding: 30px;">
        <div class="col-lg-12">
            <h5>Подтверждение результата</h5>
            <hr />

            <!--FORM-->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    @{ Html.EnableClientValidation(false); }

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FactDate, "Фактическая дата согласования:", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">

                                    @if (Model.FactDate != null && Model.FactDate.HasValue)
                                    {
                                        <h1>
                                            @(Model.FactDate.Value.ToShortDateString())
                                        </h1>
                                    }
                                    else
                                    {
                                        <small class="text-muted">
                                            Объект не согласован
                                        </small>
                                    }
                                </div>
                            </div>
                        </div>
                        <div style="margin: 16px;">
                            @if (Model.IsPersonal)
                            {
                                <img src="~/Content/Images/star.svg" height="64" title="Участвует в мотивационной программе" />
                            }
                            else
                            {
                                <img src="~/Content/Images/outstar.svg" height="64" title="Не участвует в мотивационной программе" />
                            }
                        </div>
                    </div>


                    @{ Html.EnableClientValidation(false); }


                    @if (ViewBag.ResponsibleEmployee != null)
                    {
                        <br />
                        <div class="row">
                            <div class="col-12" style="background-color: #80D8FF; padding-top: 15px; padding-bottom: 15px; padding-left: 30px;">
                                <h3>
                                    Персональный&nbsp;план:&nbsp;@(ViewBag.ResponsibleEmployee.Name + " " + ViewBag.ResponsibleEmployee.Surname)
                                </h3>
                            </div>
                        </div>
                    }

                    @if (Model.FactAgreementPrice != null && Model.FactRentPrice != null)
                    {
                        <br />
                        <div class="row">
                            <div class="col-6" style="padding-top: 15px; padding-bottom: 15px; padding-left: 30px;">
                                <h5>
                                    Факт&nbsp;Capex:&nbsp;@((Model.FactAgreementPrice != null && Model.FactAgreementPrice.HasValue) ? Model.FactAgreementPrice.Value.ToString("0.00") + " руб." : "не внесен")
                                </h5>
                            </div>
                            <div class="col-6" style="padding-top: 15px; padding-bottom: 15px; padding-left: 30px;">
                                <h5>
                                    Факт&nbsp;Opex:&nbsp;@((Model.FactRentPrice != null && Model.FactRentPrice.HasValue) ? Model.FactRentPrice.Value.ToString("0.00") + " руб. в мес. без НДС" : "не внесен")
                                </h5>
                            </div>
                        </div>
                    }

                    @Html.HiddenFor(model => model.EmployeeId, "EmployeeId")

                    @Html.Hidden("chbIsPersonal", Model.IsPersonal)
                    @Html.Hidden("chbHasContractAdvertising", Model.HasContractAdvertising)
                    @Html.Hidden("chbHasContractAdvancedAccess", Model.HasContractAdvancedAccess)

                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Внимание!</strong>&nbsp;@(ViewBag.Message)
                        </div>
                    }
                    <br />
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @if (!Model.FactDate.HasValue && (Model.FactTransferredToAgreement != null && Model.FactTransferredToAgreement.HasValue) && ViewBag.CurrentEmployee != null && ((ViewBag.CurrentEmployee.CanApproveHouses && ViewBag.CurrentEmployee.Filials.IndexOf(Model.Filial) > -1) || (ViewBag.CurrentEmployee.Role == "Штаб-квартира")))
                            {
                                <div style="padding: 15px;">
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="IsPersonal" name="IsPersonal" onclick="OnChbIsPersonalClick()" @((Model.IsPersonal) ? "checked" : "") value="@((Model.IsPersonal) ? "true" : "false")">
                                        <label class="custom-control-label" for="IsPersonal" style="cursor: pointer; font-size: 18px; font-weight: 400;">Участвует в мотивационной программе</label>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.CurrentEmployee != null)
                            {
                                if ((Model.FactDate == null || !Model.FactDate.HasValue) && Model.FactAgreed != null && Model.FactAgreed.HasValue && (Model.FactApproved != null || (Model.FactAgreed.HasValue && Model.FactAgreed.Value.AddDays(14) < DateTime.Now && Model.Status == "Проверка доступа на дом")) && Model.FactDocumentDate != null && !String.IsNullOrEmpty(Model.FactDocumentDescription) && !String.IsNullOrEmpty(Model.FactDocumentLink) && ((ViewBag.CurrentEmployee.CanApproveHouses == true && ViewBag.CurrentEmployee.Filials.IndexOf(Model.Filial) > -1)))
                                {
                                    @Html.HiddenFor(model => model.PlanAgreementPrice)
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FactAgreementPrice, "Фактическая стоимость согласования", htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.FactAgreementPrice, htmlAttributes: new { @class = "form-control form-control-lg text-box single-line", @style = "width: 218px" })
                                            <small class="text-muted">CAPEX 0187, руб.</small>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.PlanRentPrice)
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FactRentPrice, "Фактическая аренда", htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.FactRentPrice, htmlAttributes: new { @class = "form-control form-control-lg text-box single-line", @style = "width: 218px" })
                                            <small class="text-muted">OPEX 1304, руб. в мес. без НДС</small>
                                        </div>
                                    </div>
                                    if (ViewBag.CurrentEmployee != null && ((ViewBag.CurrentEmployee.CanApproveHouses == true && ViewBag.CurrentEmployee.Filials.IndexOf(Model.Filial) > -1) || (ViewBag.CurrentEmployee.Role == "Штаб-квартира")))
                                    {
                                        <div>
                                            <div class="custom-control custom-checkbox mb-3">
                                                <input type="checkbox" class="custom-control-input" id="HasContractAdvertising" name="HasContractAdvertising" onclick="OnChbHasContractAdvertisingClick()" @((Model.HasContractAdvertising) ? "checked" : "") value="@((Model.HasContractAdvertising) ? "true" : "false")">
                                                <label class="custom-control-label" for="HasContractAdvertising" style="cursor: pointer; font-size: 18px; font-weight: 400;">Реклама включена в договор размещения согласно условий мотивационной программы</label>
                                            </div>
                                        </div>
                                    }
                                    if (ViewBag.CurrentEmployee != null && ((ViewBag.CurrentEmployee.CanApproveHouses == true && ViewBag.CurrentEmployee.Filials.IndexOf(Model.Filial) > -1) || (ViewBag.CurrentEmployee.Role == "Штаб-квартира")))
                                    {
                                        <div>
                                            <div class="custom-control custom-checkbox mb-3">
                                                <input type="checkbox" class="custom-control-input" id="HasContractAdvancedAccess" name="HasContractAdvancedAccess" onclick="OnChbHasContractAdvancedAccessClick()" @((Model.HasContractAdvancedAccess) ? "checked" : "") value="@((Model.HasContractAdvancedAccess) ? "true" : "false")">
                                                <label class="custom-control-label" for="HasContractAdvancedAccess" style="cursor: pointer; font-size: 18px; font-weight: 400;">Договор размещения включает доступ в вечернее время и выходные дни для подключения абонентов</label>
                                            </div>
                                        </div>
                                    }
                                    if (!Model.FactDate.HasValue && (Model.FactTransferredToAgreement != null && Model.FactTransferredToAgreement.HasValue) && ViewBag.CurrentEmployee != null && ((ViewBag.CurrentEmployee.CanApproveHouses && ViewBag.CurrentEmployee.Filials.IndexOf(Model.Filial) > -1) || (ViewBag.CurrentEmployee.Role == "Штаб-квартира")))
                                    {
                                        <input name="submit" type="submit" id="btnSave" value="Сохранить" class="btn btn-primary btn-lg" />
                                    }
                                    if ((ViewBag.CurrentEmployee != null && ViewBag.CurrentEmployee.CanApproveHouses && ViewBag.CurrentEmployee.Filials.IndexOf(Model.Filial) > -1) || (ViewBag.CurrentEmployee.Role == "Штаб-квартира"))
                                    {
                                        <input name="submit" type="submit" id="btnFact" value="Подтвердить факт" class="btn btn-success btn-lg" />
                                    }
                                }
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function OnChbIsPersonalClick() {
            document.getElementById("chbIsPersonal").value = $("#IsPersonal").prop("checked");
        }

        function OnChbHasContractAdvertisingClick() {
            document.getElementById("chbHasContractAdvertising").value = $("#HasContractAdvertising").prop("checked");
        }

        function OnChbHasContractAdvancedAccessClick() {
            document.getElementById("chbHasContractAdvancedAccess").value = $("#HasContractAdvancedAccess").prop("checked");
        }
    </script>
}
