﻿@model IEnumerable<SiteRent.Models.Houses>

@{
    ViewBag.Title = "Дома";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    @{
        SiteRent.Models.Employees CurrentEmployee;
        List<String> cuRegions = new List<string>();
        List<String> cuFilials = new List<string>();
        List<dynamic> UserViewEmployees = (ViewBag.UserViewEmployees != null) ? ((IEnumerable<dynamic>)ViewBag.UserViewEmployees).ToList() : null;
        int page;
        string search;
        int searchchanged;
        int year;
        int status;
        int plan;
        int fact;
        string region;
        string filial;
        int employee;
        string uk;

        Dictionary<int, string> textStatuses = new Dictionary<int, string>() { { 1, "Оценка" }, { 2, "Переговоры" }, { 3, "Пауза" }, { 4, "Согласован" } };
        Dictionary<int, string> textPlans = new Dictionary<int, string>() { { 1, "Спланирован" }, { 2, "Утверждение" }, { 3, "Без плана" } };
        Dictionary<int, string> textFacts = new Dictionary<int, string>() { { 1, "Факт" }, { 2, "Проверка" }, { 3, "Без согласования" }, { 4, "Без подтверждения" }, { 5, "Без договора" } };

        int filtersCount = 0;
    }

    @if (ViewBag.CurrentEmployee != null)
    {
        CurrentEmployee = ViewBag.CurrentEmployee;
        cuRegions = CurrentEmployee.Regions.Replace(", ", "!").Split('!').OrderBy(r => r).ToList();
        cuFilials = CurrentEmployee.Filials.Replace(", ", "!").Split('!').OrderBy(f => f).ToList();
    }
    else
    {
        CurrentEmployee = null;
    }

    @if (Request["page"].IsInt())
    {
        if (int.TryParse(Request["page"], out page))
        {

        }
        else
        {
            page = 1;
        }
    }
    else
    {
        page = 1;
    }
    @if (ViewBag.page > 0)
    {
        page = ViewBag.page;
    }

    @if (Request["year"].IsInt())
    {
        if (int.TryParse(Request["year"], out year))
        {

        }
        else
        {
            year = 2018;
        }
    }
    else
    {
        year = 2018;
    }
    @if (ViewBag.year > 0)
    {
        year = ViewBag.year;
    }

    @if (Request["status"].IsInt())
    {
        if (int.TryParse(Request["status"], out status))
        {

        }
        else
        {
            status = 0;
        }
    }
    else
    {
        status = 0;
    }
    @if (ViewBag.status > 0)
    {
        status = ViewBag.status;
    }

    @if (Request["plan"].IsInt())
    {
        if (int.TryParse(Request["plan"], out plan))
        {

        }
        else
        {
            plan = 0;
        }
    }
    else
    {
        plan = 0;
    }
    @if (ViewBag.plan > 0)
    {
        plan = ViewBag.plan;
    }

    @if (Request["fact"].IsInt())
    {
        if (int.TryParse(Request["fact"], out fact))
        {

        }
        else
        {
            fact = 0;
        }
    }
    else
    {
        fact = 0;
    }
    @if (ViewBag.fact > 0)
    {
        fact = ViewBag.fact;
    }

    @if (!Request["search"].IsEmpty())
    {
        search = Request["search"];
    }
    else
    {
        search = string.Empty;
    }

    @if (Request["searchchanged"].IsInt())
    {
        if (int.TryParse(Request["searchchanged"], out searchchanged))
        {

        }
        else
        {
            searchchanged = 0;
        }
    }
    else
    {
        searchchanged = 0;
    }
    @if (ViewBag.searchchanged > 0)
    {
        searchchanged = ViewBag.searchchanged;
    }

    @if (!Request["region"].IsEmpty() && cuRegions.IndexOf(Request["region"]) > -1 && CurrentEmployee.Role == "Штаб-квартира" && (Request["filial"].IsEmpty() || cuFilials.IndexOf(Request["filial"]) == -1))
    {
        region = Request["region"];
    }
    else
    {
        region = string.Empty;
    }

    @if (!Request["filial"].IsEmpty() && cuFilials.IndexOf(Request["filial"]) > -1 && (CurrentEmployee.Role == "Штаб-квартира" || CurrentEmployee.Role == "Руководитель"))
    {
        filial = Request["filial"];
    }
    else
    {
        filial = string.Empty;
    }

    @if (Request["employee"].IsInt())
    {
        if (int.TryParse(Request["employee"], out employee))
        {

        }
        else
        {
            employee = 0;
        }
    }
    else
    {
        employee = 0;
    }
    @if (ViewBag.employee > 0)
    {
        employee = ViewBag.employee;
    }

    @if (!Request["uk"].IsEmpty())
    {
        uk = Request["uk"];
    }
    else
    {
        uk = string.Empty;
    }

    @if (year != DateTime.Now.Year) { filtersCount += 1; }
    @if (status != 0) { filtersCount += 1; }
    @if (plan != 0) { filtersCount += 1; }
    @if (fact != 0) { filtersCount += 1; }
    @if (employee != 0) { filtersCount += 1; }
    @if (!String.IsNullOrEmpty(region)) { filtersCount += 1; }
    @if (!String.IsNullOrEmpty(filial)) { filtersCount += 1; }
    @if (!String.IsNullOrEmpty(search)) { filtersCount += 1; }
    @if (!String.IsNullOrEmpty(uk)) { filtersCount += 1; }


    <div class="btn-toolbar" role="toolbar" aria-label="House filters">
        <form id="searchForm" name="searchForm">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Поиск" value="@(String.IsNullOrEmpty(search) ? "" : search)" onkeyup="searchKeyUp()" id="searchfield" aria-label="Поиск" aria-describedby="search-group">
                <div class="input-group-append" id="search-group">
                    @if (String.IsNullOrEmpty(search))
                    {

                        <button class="btn btn-dark rounded-0" type="submit" style="height: 38px; width: 46px; padding: 8px;">
                            <img src="~/Content/Images/sidebar_search.svg" class="h-100" title="Поиск" alt="Search" style="margin-top: -4px;" />
                        </button>

                    }
                    else
                    {

                        <a class="btn btn-dark" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = "", searchchanged = 1 }))" style="height: 38px; width: 46px; padding: 8px;">
                            <img src="~/Content/Images/icon_backspace.svg" class="h-100" title="Очистить" alt="Clear" style="margin-top: -4px;" />
                        </a>

                    }
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="@((filtersCount > 0) ? "border-bottom-right-radius: 0px; border-top-right-radius: 0px;" : "") border-bottom-left-radius: 0px; border-top-left-radius: 0px;">
                            <img src="~/Content/Images/filter.svg" style="height: 20px;" title="Фильтры" alt="Фильтры" />
                            @if (filtersCount > 0)
                            {
                                <span class="badge" style="background: linear-gradient(90deg, #5561e2, #729dff); color: #ffffff; margin-left: 2px; margin-right: 2px;">@(filtersCount.ToString())</span>
                            }
                        </button>
                        <div class="dropdown-menu" style="max-height: 500px; overflow-y: auto;">
                            @if (CurrentEmployee != null && CurrentEmployee.Role == "Штаб-квартира" && String.IsNullOrEmpty(region))
                            {
                                <h6 class="dropdown-header">Регион</h6>
                                foreach (string reg in cuRegions)
                                {
                                    if (!String.IsNullOrEmpty(region) || !String.IsNullOrEmpty(filial) || employee != 0)
                                    {
                                        <a class="dropdown-item" href="@(Url.Action("Index", new { region = reg, filial = "", employee = "", uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/shuffle.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />@(reg)</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" href="@(Url.Action("Index", new { region = reg, filial = "", employee = "", uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />@(reg)</a>
                                    }
                                }
                                <div class="dropdown-divider"></div>
                            }

                            @if (CurrentEmployee != null && (CurrentEmployee.Role == "Штаб-квартира" || CurrentEmployee.Role == "Руководитель") && String.IsNullOrEmpty(filial))
                            {
                                <h6 class="dropdown-header">
                                    Филиал
                                    @if (cuFilials.Count > 10)
                                    {
                                        <img src="~/Content/Images/more.svg" style="height: 18px;" class="float-right" title="Еще" alt="Еще" />
                                    }
                                </h6>
                                for (int i = 0; i < cuFilials.Count; i++)
                                {
                                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = "", filial = cuFilials[i], employee = "", uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))">
                                        @if (!String.IsNullOrEmpty(region) || !String.IsNullOrEmpty(filial) || employee != 0)
                                        {
                                            <img src="~/Content/Images/shuffle.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />@(cuFilials[i].Split(' ')[0])
                                        }
                                        else
                                        {
                                            <img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />@(cuFilials[i].Split(' ')[0])
                                        }
                                    </a>
                                    if (i == 9)
                                    {
                                        break;
                                    }
                                }
                                <div class="dropdown-divider"></div>
                            }

                            @if (CurrentEmployee != null && (CurrentEmployee.Role == "Штаб-квартира" || CurrentEmployee.Role == "Руководитель") && employee == 0 && UserViewEmployees != null)
                            {
                                <h6 class="dropdown-header">
                                    Сотрудник
                                    @if (UserViewEmployees.Count > 9)
                                    {
                                        <img src="~/Content/Images/more.svg" style="height: 18px;" class="float-right" title="Еще" alt="Еще" />
                                    }
                                </h6>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = "", filial = "", employee = -1, uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))">
                                    @if (!String.IsNullOrEmpty(region) || !String.IsNullOrEmpty(filial) || employee != 0)
                                    {
                                        <img src="~/Content/Images/shuffle.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />
                                    }
                                    НЕ УСТАНОВЛЕН
                                </a>
                                for (int i = 0; i < UserViewEmployees.Count; i++)
                                {
                                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = "", filial = "", employee = UserViewEmployees[i].GetType().GetProperty("EmployeeId")?.GetValue(UserViewEmployees[i], null), uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))">
                                        @if (!String.IsNullOrEmpty(region) || !String.IsNullOrEmpty(filial) || employee != 0)
                                        {
                                            <img src="~/Content/Images/shuffle.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />@(UserViewEmployees[i].GetType().GetProperty("EmployeeText")?.GetValue(UserViewEmployees[i], null))
                                        }
                                        else
                                        {
                                            <img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />@(UserViewEmployees[i].GetType().GetProperty("EmployeeText")?.GetValue(UserViewEmployees[i], null))
                                        }
                                    </a>
                                    if (i == 8)
                                    {
                                        break;
                                    }
                                }
                                <div class="dropdown-divider"></div>

                            }

                            @if (year == DateTime.Now.Year)
                            {
                                <h6 class="dropdown-header">Год строительства<img src="~/Content/Images/more.svg" style="height: 18px;" class="float-right" title="Еще" alt="Еще" /></h6>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = DateTime.Now.Year + 1, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />@(DateTime.Now.Year + 1)</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = 0, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Все</a>

                            }

                            @if (status <= 0 || status > 4)
                            {
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Этап NRI</h6>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = 1, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Оценка</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = 2, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Переговоры</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = 3, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Пауза</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = 4, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Согласован</a>

                            }

                            <!--PLAN

                            @if (plan <= 0 || plan > 3)
                            {
                                <h6 class="dropdown-header">Планирование</h6>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = 1, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Спланирован</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = 2, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Утверждение</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = 3, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Без плана</a>
                                <div class="dropdown-divider"></div>
                            }
                                -->
                            @if (fact <= 0 || fact > 5)
                            {
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Согласование</h6>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 1, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Факт</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 2, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Проверка</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 3, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Без согласования</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 4, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Без подтверждения</a>
                                <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 5, search = search, searchchanged = 1 }))"><img src="~/Content/Images/add.svg" style="height: 18px; margin-top: -5px; padding-right: 5px;" title="Добавить фильтр" alt="Добавить фильтр" />Без договора</a>
                            }
                        </div>

                        @if (filtersCount > 0)
                        {
                            <a role="button" class="btn btn-outline-dark" href="@Url.Action("Index", "Houses")"><img src="~/Content/Images/icon_close.svg" title="Очистить" alt="Clear" style="height:11px;" /></a>
                        }
                    </div>

                    @if (filtersCount > 0)
                    {
                        <img src="~/Content/Images/next.svg" style="height: 28px; margin-top: 5px;" />
                    }
                </div>
            </div>
            @Html.Hidden("page", page)
            @Html.Hidden("year", year)
            @Html.Hidden("status", status)
            @Html.Hidden("plan", plan)
            @Html.Hidden("fact", fact)
            @Html.Hidden("search", search)
            @Html.Hidden("searchchanged")
            @Html.Hidden("region", region)
            @Html.Hidden("filial", filial)
            @Html.Hidden("uk", uk)
            @Html.Hidden("employee", employee)
        </form>

        @if (!String.IsNullOrEmpty(region))
        {
            <div class="btn-group style=" margin-right:5px;"">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle rounded-left txt3 border-right-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
                    @(region)
                </button>
                <div class="dropdown-menu">
                    @foreach (string reg in cuRegions)
                    {
                        <a class="dropdown-item" href="@(Url.Action("Index", new { region = reg, filial = "", employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((region == reg) ? "hidden" : "")>@(reg)</a>
                    }
                </div>
                <a role="button" class="btn btn-outline-secondary" href="@(Url.Action("Index", new { region = "", filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/icon_close.svg" title="Очистить" alt="Clear" style="height:11px;" /></a>
            </div>
        }
        @if (!String.IsNullOrEmpty(filial))
        {
            <div class="btn-group" style="margin-right:5px;">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle rounded-left txt3 border-right-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
                    @(filial)
                </button>
                <div class="dropdown-menu" style="max-height: 500px; overflow-y: auto;">
                    @foreach (string fil in cuFilials)
                    {
                        <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = fil, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((filial == fil) ? "hidden" : "")>@(fil.Split(' ')[0])</a>
                    }
                </div>
                <a role="button" class="btn btn-outline-secondary" href="@(Url.Action("Index", new { region = region, filial = "", employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/icon_close.svg" title="Очистить" alt="Clear" style="height:11px;" /></a>
            </div>
        }

        @if (employee != 0 && UserViewEmployees != null)
        {
            <div class="btn-group" style="margin-right:5px;">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle rounded-left txt3 border-right-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
                    @{var ce = UserViewEmployees.Where(x => x.GetType().GetProperty("EmployeeId")?.GetValue(x, null) == employee).FirstOrDefault(); }
                    @((employee == -1) ? "Нет ответственного" : ce.GetType().GetProperty("EmployeeText")?.GetValue(ce, null))
                </button>
                <div class="dropdown-menu" style="max-height: 500px; overflow-y: auto;">
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = -1, uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((employee == -1) ? "hidden" : "")>Нет ответственного</a>
                    @foreach (var emp in UserViewEmployees)
                    {
                        <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = emp.GetType().GetProperty("EmployeeId")?.GetValue(emp, null), uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((employee == emp.GetType().GetProperty("EmployeeId")?.GetValue(emp, null)) ? "hidden" : "")>@(emp.GetType().GetProperty("EmployeeText")?.GetValue(emp, null))</a>
                    }
                </div>
                <a role="button" class="btn btn-outline-secondary" href="@(Url.Action("Index", new { region = region, filial = filial, employee = 0, uk = uk, page = page, year = year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/icon_close.svg" title="Очистить" alt="Clear" style="height:11px;" /></a>
            </div>
        }

        @if (year != DateTime.Now.Year)
        {
            <div class="btn-group" style="margin-right:5px;">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle rounded-left txt3 border-right-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
                    RO: @((year == 0) ? "Все" : year.ToString())
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = 0, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((year == 0) ? "hidden" : "")>Все</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = DateTime.Now.Year - 1, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((year == DateTime.Now.Year - 1) ? "hidden" : "")>@(DateTime.Now.Year - 1)</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = DateTime.Now.Year + 1, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((year == DateTime.Now.Year + 1) ? "hidden" : "")>@(DateTime.Now.Year + 1)</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = DateTime.Now.Year + 2, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((year == DateTime.Now.Year + 2) ? "hidden" : "")>@(DateTime.Now.Year + 2)</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = DateTime.Now.Year + 3, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((year == DateTime.Now.Year + 3) ? "hidden" : "")>@(DateTime.Now.Year + 3)</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = DateTime.Now.Year + 4, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((year == DateTime.Now.Year + 4) ? "hidden" : "")>@(DateTime.Now.Year + 4)</a>
                </div>
                <a role="button" class="btn btn-outline-secondary" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = DateTime.Now.Year, status = status, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/icon_close.svg" title="Очистить" alt="Clear" style="height:11px;" /></a>
            </div>
        }

        @if (status > 0 && status <= 4)
        {
            <div class="btn-group" style="margin-right:5px;">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle rounded-left txt3 border-right-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
                    NRI: @(textStatuses[status])
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = 1, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((status == 1) ? "hidden" : "")>Оценка</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = 2, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((status == 2) ? "hidden" : "")>Переговоры</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = 3, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((status == 3) ? "hidden" : "")>Пауза</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = 4, plan = plan, fact = fact, search = search, searchchanged = 1 }))" @((status == 4) ? "hidden" : "")>Согласован</a>
                </div>
                <a role="button" class="btn btn-outline-secondary" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = 0, plan = plan, fact = fact, search = search, searchchanged = 1 }))"><img src="~/Content/Images/icon_close.svg" title="Очистить" alt="Clear" style="height:11px;" /></a>
            </div>
        }
        <!-- PLAN
        @if (plan > 0 && plan <= 3)
        {
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle rounded-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
                    Планирование: @(textPlans[plan])
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = 1, fact = fact, search = search, searchchanged = 1 }))" @((plan == 1) ? "hidden" : "")>Спланирован</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = 2, fact = fact, search = search, searchchanged = 1 }))" @((plan == 2) ? "hidden" : "")>Утверждение</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = 3, fact = fact, search = search, searchchanged = 1 }))" @((plan == 3) ? "hidden" : "")>Без плана</a>
                </div>
                <a role="button" class="btn btn-outline-secondary" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = 0, fact = fact, search = search, searchchanged = 1 }))">X</a>
            </div>
        }
        -->
        @if (fact > 0 && fact <= 5)
        {
            <div class="btn-group" style="margin-right:5px;">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle rounded-left txt3 border-right-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
                    @(textFacts[fact])
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 1, search = search, searchchanged = 1 }))" @((fact == 1) ? "hidden" : "")>Факт</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 2, search = search, searchchanged = 1 }))" @((fact == 2) ? "hidden" : "")>Проверка</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 3, search = search, searchchanged = 1 }))" @((fact == 3) ? "hidden" : "")>Без согласования</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 4, search = search, searchchanged = 1 }))" @((fact == 4) ? "hidden" : "")>Без подтверждения</a>
                    <a class="dropdown-item" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 5, search = search, searchchanged = 1 }))" @((fact == 5) ? "hidden" : "")>Без договора</a>
                </div>
                <a role="button" class="btn btn-outline-secondary" href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = page, year = year, status = status, plan = plan, fact = 0, search = search, searchchanged = 1 }))"><img src="~/Content/Images/icon_close.svg" title="Очистить" alt="Clear" style="height:11px;" /></a>
            </div>
        }
    </div>

    @if (CurrentEmployee != null && ViewBag.TotalCount != null && ViewBag.TotalCount > 0)
    {
        <div class="table-responsive" style="padding-top: 10px;">
            <table class="table font-weight-light txt3">
                <tr class="txt4" style="border-top:none; height: 48px;">
                    <th class="align-bottom" style="border-top:none; width: 124px;"><span class="badge txt4 w-100" style="background: linear-gradient(90deg, #5561e2, #729dff); color: #ffffff;">@((ViewBag.TotalCount != null) ? ViewBag.TotalCount : "0")</span></th>
                    @if (CurrentEmployee != null && CurrentEmployee.Role == "Штаб-квартира" && String.IsNullOrEmpty(region))
                    {
                        <th class="align-bottom" style="border-top:none;">Регион</th>
                    }
                    @if (CurrentEmployee != null && (CurrentEmployee.Role == "Штаб-квартира" || CurrentEmployee.Role == "Руководитель") && String.IsNullOrEmpty(filial))
                    {
                        <th class="align-bottom" style="border-top:none;">Филиал</th>
                    }
                    <th class="align-bottom" style="border-top:none;"><u>Город</u></th>
                    <th class="align-bottom" style="border-top:none;"><u>Адрес</u></th>
                    <th class="align-bottom" style="border-top:none;"><u>УК/ТСЖ</u></th>
                    <th class="align-bottom" style="border-top:none;">NRI</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-nowrap" style="overflow: hidden; text-overflow: ellipsis;">
                            <div class="d-sm-inline-block">
                                @if (item.EmployeeId != null && item.EmployeeId > -1)
                                {
                                    <img src="~/Content/Images/okresponsible.svg" height="16" title="@(item.Employee.Surname + " " + item.Employee.Name + " " + item.Employee.Patronymic)" />
                                }
                                else
                                {
                                    <img src="~/Content/Images/nouser.svg" height="16" title="Нет ответственного" />
                                }

                                @if (item.IsPersonal)
                                {
                                    <img src="~/Content/Images/star.svg" height="16" title="Участвует в программе мотивации" />
                                }
                                else
                                {
                                    <img src="~/Content/Images/outstar.svg" height="16" title="Не участвует в программе мотивации" />
                                }

                                @if (item.FactAgreed != null && item.FactAgreed.HasValue)
                                {
                                    <img src="~/Content/Images/deal.svg" height="16" title="Согласован @(item.FactAgreed.Value.ToString())" />
                                }
                                else
                                {
                                    <img src="~/Content/Images/outdeal.svg" height="16" title="Не согласован" />
                                }

                                @if (item.FactApproved != null && item.FactApproved.HasValue)
                                {
                                    <img src="~/Content/Images/approve.svg" height="16" title="Подтвержден @(item.FactApproved.Value.ToString())" />
                                }
                                else
                                {
                                    <img src="~/Content/Images/ourapprove.svg" height="16" title="Не подтвержден" />
                                }

                                @if (item.FactDocumentDate != null && item.FactDocumentDate.HasValue && !String.IsNullOrEmpty(item.FactDocumentDescription) && !String.IsNullOrEmpty(item.FactDocumentLink))
                                {
                                    <img src="~/Content/Images/document.svg" height="16" title="Договор загружен @(item.FactDocumentDate.Value.ToString())" />
                                }
                                else
                                {
                                    <img src="~/Content/Images/outdocument.svg" height="16" title="Договор не подписан" />
                                }
                            </div>
                        </td>
                        @if (CurrentEmployee != null && CurrentEmployee.Role == "Штаб-квартира" && String.IsNullOrEmpty(region))
                        {
                            <td class="text-nowrap" style="overflow: hidden; text-overflow: ellipsis;">
                                @Html.DisplayFor(modelItem => item.Region)
                            </td>
                        }
                        @if (CurrentEmployee != null && (CurrentEmployee.Role == "Штаб-квартира" || CurrentEmployee.Role == "Руководитель") && String.IsNullOrEmpty(filial))
                        {
                            <td class="text-nowrap" style="overflow: hidden; text-overflow: ellipsis;">
                                @Html.DisplayFor(modelItem => item.Filial.Split(' ')[0])
                            </td>
                        }
                        <td class="text-nowrap" style="overflow: hidden; text-overflow: ellipsis;">
                            @Html.DisplayFor(modelItem => item.City.Split(',')[0])
                        </td>
                        <td style="overflow: hidden; text-overflow: ellipsis;">
                            @Html.ActionLink(item.StreetName + " " + item.StreetType + " " + item.Number1 + (!String.IsNullOrEmpty(item.Type2) ? item.Type2.Substring(0, 1) + " " + item.Number2 : "") + (!String.IsNullOrEmpty(item.Type3) ? item.Type3.Substring(0, 1) + " " + item.Number3 : ""), "Edit", new { id = item.Id }, new { style = "font-size: 13px; line-height: 1.4; color: #5561e2;" })
                        </td>
                        <td style="overflow: hidden; text-overflow: ellipsis;">
                            @Html.DisplayFor(modelItem => item.UK)
                        </td>
                        <td>
                            <a href="@("http://nri-rby.vimpelcom.ru:3030/#house-id-" + item.NriId.ToString())" target="_blank" style="font-size: 13px; line-height: 1.4; color: #5561e2;" title="@("ERP: " + (!String.IsNullOrEmpty(item.ERP) ? item.ERP : "не присвоен") + ", CTS: " + (!String.IsNullOrEmpty(item.GFK) ? item.GFK : "не присвоен") + ", Год RO: " + item.RoYear + ", Статус: " + item.Status)">@(item.NriId.ToString())</a>
                        </td>
                    </tr>
                }

            </table>
        </div>

        <nav class="p-0">
            @if (ViewBag.TotalCount > 15 && ViewBag.TotalCount <= 375)
            {
                <ul class="pagination flex-wrap justify-content-end">
                    @for (int i = 0; i < ViewBag.TotalCount; i += 15)
                    {
                        <li class="@(page == ((i / 15) + 1) ? "page-item active rounded-circle" : "page-item rounded-circle")"><a href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = ((i / 15) + 1), year = year, status = status, plan = plan, fact = fact, search = search }))" class="page-link rounded-circle">@((i / 15) + 1)</a></li>
                    }
                </ul>
            }
            @if (ViewBag.TotalCount > 375)
            {
                int minP = (page <= 6) ? page : page - 3;
                int maxP = (page >= ViewBag.TotalCount / 15 - 6) ? page : page + 3;
                <ul class="pagination flex-wrap justify-content-end">
                    @for (int i = 0; i < ViewBag.TotalCount; i += 15)
                    {
                        if (i <= 90 || (i >= minP * 15 && i <= maxP * 15) || (i >= ViewBag.TotalCount - 90))
                        {
                            <li class="@(page == ((i / 15) + 1) ? "page-item active rounded-circle" : "page-item rounded-circle")"><a href="@(Url.Action("Index", new { region = region, filial = filial, employee = employee, uk = uk, page = ((i / 15) + 1), year = year, status = status, plan = plan, fact = fact, search = search }))" class="page-link rounded-circle">@((i / 15) + 1)</a></li>
                        }
                    }
                </ul>
            }
        </nav>
    }
    else
    {
        <br />
        <div class="row">
            <div class="col-3">
                
            </div>
            <div class="col-6">
                <img src="~/Content/Images/warning.svg" style="max-height: 300px;" />
            </div>
            <div class="col-3">
                
            </div>
        </div>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8 text-align-justify">
                <h1 class="text-center">Объектов, соответствующих заданным условиям не найдено.</h1>
            </div>
            <div class="col-2">

            </div>
        </div>
        <br />
    }
</div>

@section Scripts {
    <script type="text/javascript">

        function searchKeyUp() {
            document.getElementById("search").value = document.getElementById("searchfield").value;
            document.getElementById("searchchanged").value = 1;
        }

        $('.has-clear input[type="text"]').on('input propertychange', function () {
            var $this = $(this);
            var visible = Boolean($this.val());
            $this.siblings('.form-control-clear').toggleClass('hidden', !visible);
        }).trigger('propertychange');

        $('.form-control-clear').click(function () {
            $(this).siblings('input[type="text"]').val('')
                .trigger('propertychange').focus();
        });

    </script>
}
