﻿@{
    ViewBag.Title = "Статус RO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #ffffff; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h3 class="font-weight-light">Статус RO 2018</h3>
    <hr />
    <div class="row" style="min-height: 300px;">
        <div class="col-12 text-center justify-content-center" style="padding-left: 60px;" id="ChartArea">
            <svg id="lineChart"></svg>
            <style>
                .line1 {
                    fill: none;
                    stroke: lightgray;
                    stroke-width: 3px;
                }
                .line2 {
                    fill: none;
                    stroke: green;
                    stroke-width: 3px;
                }
                .line3 {
                    fill: none;
                    stroke: steelblue;
                    stroke-width: 3px;
                }
                .line4 {
                    fill: none;
                    stroke: orange;
                    stroke-width: 3px;
                }
            </style>
        </div>
    </div>
    <br />
    <div class="row font-weight-light text-center">
        <div class="col-1">ЯНВ</div>
        <div class="col-1">ФЕВ</div>
        <div class="col-1">МАР</div>
        <div class="col-1">АПР</div>
        <div class="col-1">МАЙ</div>
        <div class="col-1">ИЮН</div>
        <div class="col-1">ИЮЛ</div>
        <div class="col-1">АВГ</div>
        <div class="col-1">СЕН</div>
        <div class="col-1">ОКТ</div>
        <div class="col-1">НОЯ</div>
        <div class="col-1">ДЕК</div>
    </div>
    <br />
    <table class="table">
        <tr class="thead-light">
            <th>Регион</th>
            <th>Загружено</th>
            <th>В работе</th>
            <th>План @((ViewBag.CurrenStrMonth != null) ? ViewBag.CurrenStrMonth : "")</th>
            <th>Факт NRI</th>
            <th>Выполнение</th>
            <th>В текущем месяце</th>
            <th>За неделю</th>
        </tr>

        @for (int i = 0; i < ViewBag.RegionNamesList.Count; i++)
        {
            <tr>
                <td>@ViewBag.RegionNamesList[i]</td>
                <td>@ViewBag.RO18RegionHouses[i].ToString()</td>
                <td>@ViewBag.RO18RegionOnApproval[i].ToString()</td>
                <td>@ViewBag.RegionPlansList[i].ToString()</td>
                <td>@ViewBag.RO18RegionApproved[i].ToString()</td>
                <td>@((ViewBag.RO18RegionFactPercent[i] == "-1%") ? " " : ViewBag.RO18RegionFactPercent[i])</td>
                <td>@((ViewBag.RO18RegionApprovedThisMonth.Count > i) ? ViewBag.RO18RegionApprovedThisMonth[i]  : "")</td>
                <td>@((ViewBag.RO18RegionApprovedThisWeek.Count > i) ? ViewBag.RO18RegionApprovedThisWeek[i] : "")</td>
            </tr>
        }
    </table>
</div>

<script src="~/Scripts/d3.v3.min.js" charset="utf-8"></script>
<script>

    d3.json("@Url.Action("GetROReportData", "Reports")", function (data) {
        //Here you have data available, an object with the same structure 
        //as the JSON that was send by the server.

        var maxDataVal = d3.max(data, function (d) { return d; })

        var _plan = data.splice(0, 12);
        var _fact = data.splice(0, 12);
        var _master = data.splice(0, 12);
        var _dostup = data;

        var width = document.getElementById('ChartArea').offsetWidth;
        var height = 300;

        var svg = d3.select("#lineChart")
            .attr("width", width)
            .attr("height", height);

        var x = d3.scale.linear()
            .range([0, width]);

        var y = d3.scale.linear()
            .range([height, 0]);

        //x.domain([0, _plan.length]);
        //y.domain([0, d3.max(data1, function (d) { return d; })]);

        x.domain([0, 12]);
        y.domain([0, maxDataVal]);


        var line = d3.svg.line()
            .x(function (d, i) { return x(i); })
            .y(function (d) { return y(d); });

        svg.append("path")
            .datum(_plan)
            .attr("class", "line1")
            .attr("d", line);
        svg.append("path")
            .datum(_fact)
            .attr("class", "line2")
            .attr("d", line);
        svg.append("path")
            .datum(_master)
            .attr("class", "line3")
            .attr("d", line);
        svg.append("path")
            .datum(_dostup)
            .attr("class", "line4")
            .attr("d", line);

    });
 
</script>