﻿@using SiteRent.Models
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/utils.css">
    <link rel="stylesheet" href="~/Content/Vendors/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Vendors/linearicons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Vendors/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Vendors/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Vendors/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Vendors/daterangepicker.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">


            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-32">
                        Аренда_FTTB
                    </span>
                    <span class="txt4 p-b-11">
                        Электронная почта
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Введите корпоративный email">
                        <input class="input100" type="text" name="email" id="email">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt4 p-b-11">
                        Пароль
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Введите пароль">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input class="input100" type="password" name="Password" id="Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Запомнить меня
                            </label>
                        </div>

                        <div>
                            <a href="mailto:AAPankov@beeline.ru?subject=Забыл%20пароль%20SiteRent&body=Прошу%20восстановить%20пароль%20от%20SiteRent" class="txt3">
                                Забыли пароль?
                            </a>
                        </div>
                    </div>

                    if(Html.ValidationSummary().ToString().IndexOf("display:none") == -1)
                    { 
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 100%;">
                        @Html.ValidationSummary(true)
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    }
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Войти
                        </button>
                    </div>
                    <div id="dropDownSelect1"></div>
                    <input id="RememberMe" name="RememberMe" type="hidden" value="false">
                }
            </div>
        </div>
    </div>
    

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/login/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/animsition.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/login/main.js"></script>

</body>
</html>